.feature-products
  .row
    .col-12
      %p.section-heading.text-center= featured_product.heading
    .products.text-center
      - style = "color: #{featured_product.button_text_color}"

      - featured_product.listings.each do |listing|
        .col-3
          .listing-box
            .main-image
              = image_tag listing.main_image, :class => "design-image-too-wide"
            .listing-price
              %span= MoneyViewUtils.to_humanized(Money.new(listing.price_cents, 'USD'))
              %span= "/ #{ListingViewUtils.get_time_rent(session)}"
            .listing-information
              = listing.title
            = link_to "Rent now", listing_path(listing), class: "rent-now-btn"