.feature-products
  .row.margin-0
    .col-12
      %p.section-heading= featured_product.heading
    .products.text-center
      - style = "color: #{featured_product.button_text_color}"

      - featured_product.listings.each do |listing|
        = link_to listing_path(listing) do
          - number_price = Money.new(PriceCalculationService.calculate(listing, ListingViewUtils.get_booking_days(session)), 'USD')
          .desktop-display
            .col-3
              .listing-box
                .main-image
                  = image_tag listing.main_image, :class => "design-image-too-wide"
                .listing-information.center-items
                  = listing.title
                .listing-price
                  %span= money_to_humanized(number_price)
                  %span= "/ #{ListingViewUtils.get_time_rent(session)}"
                %div
                  = link_to "Rent Now", listing_path(listing), class: "rent-now-btn"
          .mobile-display
            .col-6.padding-15
              .mobile-listing-box
                .main-image
                  = image_tag listing.main_image, :class => "design-image-too-wide"
                .listing-information.center-items
                  = listing.title
                .listing-price
                  %span= money_to_humanized(number_price)
                  %span= "/ #{ListingViewUtils.get_time_rent(session)}"
                %div
                  = link_to "Rent Now", listing_path(listing), class: "rent-now-btn"