.feature-products
  .row
    .col-12
      %p.text-center= featured_product.heading
    .products.text-center
      - style = "color: #{featured_product.button_text_color}"
      - featured_product.listings.each do |listing|
        .col-3
          .product
            .product-image
              - listing.listing_images.each do |listing_image|
                = image_tag(listing_image[:medium])
            .product-name
              %a{href: listing_path(listing.id)}= listing.title
            .product-rent-price
              %span= "#{humanized_money_with_symbol listing.price} "
              %span= "/ #{ListingViewUtils.get_time_rent(session)}"
            %a.rent-btn{href: listing_path(listing.id),  style: style}= "Rent now"