.loading-carousel.text-center
  = image_tag("ajax-loader.gif")
.homepage-carousel
  .content
    =image_tag("homepage_icons/carousel.png")
    .description
      %p= "Waterproof Your Camera"
      %p= "Browse Our Collection"
      %button= "Explore Now"
  .content
    =image_tag("homepage_icons/carousel.png")
    .description
      %p= "Waterproof Your Camera"
      %p= "Browse Our Collection"
      %button= "Explore Now"

.how-it-works.text-center
  %h1= 'HOW IT WORKS'
  .row
    .col-3
      = image_tag("homepage_icons/rental_dates.png")
      %span.title= I18n.t("homepage.how_it_works.rental_date")
      %span.description= I18n.t("homepage.how_it_works.rental_date_description")
    .col-1
      %i.icon-chevron-right
    .col-4
      = image_tag("homepage_icons/camera.png")
      %span.title= I18n.t("homepage.how_it_works.shoot")
      %span.description= I18n.t("homepage.how_it_works.shoot_description")
    .col-1
      %i.icon-chevron-right
    .col-3
      = image_tag("homepage_icons/shipping.png")
      %span.title= I18n.t("homepage.how_it_works.fast_shipping")
      %span.description= I18n.t("homepage.how_it_works.fast_shipping_description")
