- if @highlight_banner.enabled?
  - items = @highlight_banner.banner_items
  - style = { background_color: "background-color: #{@highlight_banner.background_color}",
    color: "color: #{@highlight_banner.text_color}" }
  .how-it-works.text-center{style: style[:background_color]}
    %h1= 'HOW IT WORKS'
    .row
      - items.each_with_index do |item, index|
        %div{class: "#{index != 1 ? 'col-3' : 'col-4'}"}
          = link_to item.link, style: style[:color] do 
            %div
              = image_tag(item.image.url)
              %span.title= item.heading
              %span.description= item.sub_heading
        - if index != (items.size - 1)
          .col-1
            %i.icon-chevron-right
