.more-helpful-links
  .row
    .col-3
      .helpful-link-header
        %p= t('footer.helpful_links_section.help')
      .helpful-links
        %p= t('footer.helpful_links_section.track_request_a_return')
        %p= t('footer.helpful_links_section.unsubscribe_from_catalog')
        %p= t('footer.helpful_links_section.unsubscribe_from_email')
        %p= t('footer.helpful_links_section.payments')
        %p= t('footer.helpful_links_section.all_help_topics')
    .col-3
      .helpful-link-header
        %p= t('footer.helpful_links_section.international')
      .helpful-links
        %p= t('footer.helpful_links_section.worldwide_shipping')
        %p= t('footer.helpful_links_section.payment_options')
        %p= t('footer.helpful_links_section.customs_and_vat')
    .col-3
      .helpful-link-header
        %p= t('footer.helpful_links_section.company_information')
      .helpful-links
        %p= t('footer.helpful_links_section.about_us')
        %p= t('footer.helpful_links_section.the_event_space')
        %p= t('footer.helpful_links_section.national_workshops')
        %p= t('footer.helpful_links_section.reviews_and_awards')
        %p= t('footer.helpful_links_section.affiliate_program')
        %p= t('footer.helpful_links_section.supplier_diversity_program')
        %p= t('footer.helpful_links_section.career_opportunities')
    .col-3
      .helpful-link-header
        %p= t('footer.helpful_links_section.b_h_resources')
      .helpful-links
        %p= t('footer.helpful_links_section.shop_by_brand')
        %p= t('footer.helpful_links_section.manufacturers_directory')
        %p= t('footer.helpful_links_section.sourcebooks_catalogs')
        %p= t('footer.helpful_links_section.browse_our_summer')
        %i.icon-thumbs-up
        %i.icon-thumbs-down
        %span= t('footer.helpful_links_section.send_your_feedback')