.new-products
  .row
    .col-12
      %p= I18n.t("homepage.new_products.title")
    .products.text-center
      - @listings[0..3].each do |listing|
        .col-3
          .product
            .product-image
              = image_tag(listing.main_image)
            .product-name
              %a{href: listing_path(listing.id)}= listing.title
            .product-rent-price
              %span= "#{humanized_money_with_symbol listing.price} "
              %span= "/ #{ListingViewUtils.get_time_rent(session)}"
            %a.rent-btn{href: listing_path(listing.id)}= "Rent now"