- if @slideshow.enabled?
  .loading-carousel.text-center
    = image_tag("ajax-loader.gif")
  .homepage-carousel
    - @slideshow.slide_items.order(order_number: :asc).each do |item|
      - style = "color:  #{item.text_color};"
      .content{style: style}
        =link_to item.background_link, {target: 'blank'} do
          =image_tag(item.image.url)
        .description{style: "text-align: #{item.text_alignment}"}
          .content
            %p{style: style}= item.heading
            %p{style: style}= item.sub_heading
            - if item.button_link.present?
              = link_to item.button_label || "Details", item.button_link, {target: 'blank', style: style, class: 'btn btn-link'}
    
  = content_for :extra_javascript do
    :javascript
      var autoplay = "#{@slideshow.auto_play}" == "true";
      var slideOptions = {
        elms: '.homepage-carousel',
        autoplay: autoplay,
        autoplaySpeed: parseInt("#{@slideshow.slide_duration*1000}")
      };
      $(function() {
        ST.Homepage.initCarousel(slideOptions);
      })