.movri-different.text-center
  %h1.title= I18n.t("homepage.movri_different.title")
  .row.center-items
    .col-6
      .assurred-quality
        = image_tag("homepage_icons/assured_quality.png", class: "assured_quality")
      %p= I18n.t("homepage.movri_different.assured_quality")
    .col-6
      = image_tag("homepage_icons/cancellations.png", class: "cancellation")
      %p= I18n.t("homepage.movri_different.easy_cancellation")
  .row.center-items
    .col-6
      = image_tag("homepage_icons/shipping_agent.png")
      %p= I18n.t("homepage.movri_different.shipping_services")
    .col-6
      = image_tag("homepage_icons/camera.svg")
      %p= I18n.t("homepage.movri_different.title")