.common-box.padding-15.mobile-address-fields
  .row
    .col-9
      = form_for [@transaction, @shipping_address], html: {class: "mobile-shipping-address"} do |form|
        .header-title
          %h2= t('transactions.contact_form.title')
        .row
          .col-12.address-fields
            = form.text_field :email, placeholder: t('transactions.contact_form.email'), class: "shipping-address-email transaction-address-req-field"
            = fa_icon "check", class: "d-none"
          .col-12
            .shipping-noti.margin-bt-0.brown-font-color
              = check_box_tag :notification, nil, true
              %span= t('transactions.contact_form.noti')
        .header-title
          %h2= t('transactions.label.shipping_address')
        .form-group
          .row
            .col-6.address-fields
              = form.text_field :first_name, placeholder: t('transactions.contact_form.first_name'), class: "shipping-address-first-name transaction-address-req-field"
              = fa_icon "check", class: "d-none"
            .col-6.address-fields
              = form.text_field :last_name, placeholder: t('transactions.contact_form.last_name'), class: "shipping-address-last-name transaction-address-req-field"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12.address-fields
              - if @checkout_setting.optional_company_name?
                = form.text_field :company, placeholder: t('transactions.contact_form.company'), class: "shipping-address-company transaction-address-field"
              - elsif @checkout_setting.required_company_name?
                = form.text_field :company, placeholder: t('transactions.contact_form.company'), class: "shipping-address-company transaction-address-req-field"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12.address-fields
              = form.text_field :street1, placeholder: t('transactions.contact_form.address'), id: 'mobile-address-autocomplete', class: "street_number route shipping-address-street1 transaction-address-req-field", disabled: @shipping_address.is_office_address?
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12.address-fields
              - if @checkout_setting.optional_address_2?
                = form.text_field :apartment, placeholder: t('transactions.contact_form.apartment'), class: "shipping-address-apartment transaction-address-field"
              - elsif @checkout_setting.required_address_2?
                = form.text_field :apartment, placeholder: t('transactions.contact_form.apartment'), class: "shipping-address-apartment transaction-address-req-field"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12.address-fields
              = form.text_field :city, placeholder: t('transactions.contact_form.city'), class: "locality shipping-address-city transaction-address-req-field",  disabled: @shipping_address.is_office_address?
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-6
              = text_field_tag :country, 'Canada', placeholder:  t('transactions.contact_form.country'), readonly: true
            .col-6
              = form.select :state_or_province, options_for_select(CANADA_PROVINCES, selected: form.object.state_or_province), {}, {:class => "shipping-address-state administrative_area_level_1", disabled: @shipping_address.is_office_address?}
        .form-group
          .row
            .col-6.address-fields
              = form.text_field :postal_code, value: form.object.format_postal_code, placeholder: t('transactions.contact_form.zip_code'), class: "postal_code shipping-address-postal-code transaction-address-req-field uppercase", disabled: @shipping_address.is_office_address?
              = fa_icon "check", class: "d-none"
            .col-6.address-fields
              - if @checkout_setting.optional_shipping_address_phone?
                = form.text_field :phone, value: form.object.format_phone, placeholder: t('transactions.contact_form.phone'), class: "phone-input shipping-address-phone transaction-address-field"
              - if @checkout_setting.required_shipping_address_phone?
                = form.text_field :phone, value: form.object.format_phone, placeholder: t('transactions.contact_form.phone'), class: "phone-input shipping-address-phone transaction-address-req-field"

              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12
              .contact-term
                = check_box_tag :term, nil, false, class: "term"
                = "I have read, understood and agreed with your "
                = link_to "Rental Agreement.", "/rental-agreement"
                = "I understand that a signature will be required upon delivery of my gear."
        .form-group
          .row
            .col-12
              .fullfill-fields-form-message.hidden
                Please fill all compulsory fields
        .form-group
          .row
            .col-12.center-items
              = form.submit t('transactions.btn_label.continue_to_shipping'), class:"btn btn-submit"
            .col-12.center-items.back-to-cart
              = fa_icon "angle-left"
              = link_to t('transactions.btn_label.return_to_cart'), cart_path
        .row
          .col-12.br-top.copy-right
            %span= t('common.copy_right')