.common-box.padding-15
  .row
    .col-9
      .header-title
        %h2 Contact information
      .row
        .col-12
          - email = @current_user ? @current_user.get_email : ""
          = text_field_tag :email, email, placeholder: "Email", class: "shipping-address-email"
          = fa_icon "check", class: "d-none"
        .col-12
          .shipping-noti.margin-bt-0.brown-font-color
            = check_box_tag :notification, nil, true
            %span Keep me up to date on news and exclusive offers
      .header-title
        %h2 Shipping address
      = form_for [@transaction, @shipping_address], html: {class: "mobile-shipping-address"} do |form|
        .form-group
          .row
            .col-6
              = form.text_field :first_name, placeholder: "First name", class: "shipping-address-first-name"
              = fa_icon "check", class: "d-none"
            .col-6
              = form.text_field :last_name, placeholder: "Last name", class: "shipping-address-last-name"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12
              = form.text_field :company, placeholder: "Company(optional)", class: "shipping-address-company"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12
              = form.text_field :street1, placeholder: "Address", class: "shipping-address-street1"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12
              = form.text_field :apartment, placeholder: "Apartment, suite, etc. (Optional)", class: "shipping-address-apartment"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12
              = form.text_field :city, placeholder: "City", class: "shipping-address-city"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-6
              = text_field_tag :country, 'Canada', placeholder: "Country/Region", readonly: true
            .col-6
              = form.select :state_or_province, options_for_select(CANADA_PROVINCES, selected: form.object.state_or_province), {}, class: "shipping-address-state"
        .form-group
          .row
            .col-6
              = form.text_field :postal_code,  placeholder: "Zip Code", class: "shipping-address-postal-code"
              = fa_icon "check", class: "d-none"
            .col-6
              = form.text_field :phone, placeholder: "Phone", class: "shipping-address-phone"
              = fa_icon "check", class: "d-none"
        .form-group
          .row
            .col-12.center-items
              = form.submit 'Continue to Shipping', class:"btn btn-submit"
            .col-12.center-items.back-to-cart
              = fa_icon "angle-left"
              = link_to "Return to cart", show_cart_path
        .row
          .col-12.br-top.copy-right
            %span All rights reserved MOVRI