.common-box.padding-15.margin-bt-0
  .row
    .col-12
      .header-title.margin-bt-0
        %span= t('transactions.order_summary.header')
  .order-summary-products
    - transaction.transaction_items.each do |item|
      - listing = Listing.find_by(id: item.listing_id)
      .row
        .col-12
          .listing-row
            .main-image
              = image_tag listing.main_image, :class => "design-image-too-wide", alt: @current_community.image_alt_text
            .listing-information
              .listing-title.cut-text
                = listing.title
              .coverage
                .coverage-selection
                  %span= "#{t('transactions.label.coverage')}:"
                  %span= item.coverage_type.split("_").join(" ")
              .sku-quantity
                .quantity
                  %span= "#{t('transactions.label.quantity')}:"
                  %span= item.quantity
              .price
                %span.number-price
                  -# with coverage fee
                  - listing_subtotal = @calculate_money.listing_subtotal(item, item.quantity)
                  = money_to_humanized(listing_subtotal)
                %span.day-rent
                  \/
                  = t('transactions.label.total_days_rental', total_days: session[:booking][:total_days])
    - transaction.custom_items.is_listing.each do |item|
      .row
        .col-12
          .listing-row
            .main-image
              = image_tag "missing_image.png", :class => "design-image-too-wide"
            .listing-information
              .listing-title.cut-text
                = item.name
              .sku-quantity
                .quantity
                  %span= "#{t('transactions.label.quantity')}:"
                  %span= item.quantity
              .price
                %span.number-price
                  -# with coverage fee
                  - listing_subtotal = @calculate_money.listing_subtotal(item, item.quantity)
                  = money_to_humanized(listing_subtotal)
                %span.day-rent
                  \/
                  %span 1 Day Rental
  .row
    .col-12
      .order-summary-prices
        .subtotal.items
          %span= t('transactions.label.subtotal')
          %span= money_to_humanized(@calculate_money.listings_subtotal)

        - if transaction.draft_order?
          - if transaction.draft_order_discount_code
            - if transaction.draft_order_discount_code.is_discount_percent?
              .promo-code-discount.items
                %span= "Promo Code"
                %span= "- #{money_to_humanized(@calculate_money.get_discount_for_draft_order(transaction.draft_order_discount_code.discount_percent))}"
            - else
              .promo-code-discount.items
                %span= "Promo Code"
                %span= "- #{money_to_humanized(transaction.draft_order_discount_code.discount_value)}"
        - else
          - if transaction.promo_code
            .promo-code-discount.items
              %span= "Promo Code (#{transaction.promo_code.code})"
              %span= "- #{money_to_humanized(@calculate_money.get_discount_for_all_products_cart)}"
        .shipping-fee.items
          %span= t('transactions.label.shipping')
          - if transaction.draft_order?
            %span= money_to_humanized(transaction.draft_order_shipping_fee&.price_cents)
          - else
            - shipping_fee = default_shipping_fee ? PriceCalculationService.to_cents(default_shipping_fee) : 0
            - if transaction.shipper
              %span= transaction.shipper.amount
            - else
              %span= shipping_fee > 0 ? money_to_humanized(shipping_fee) : t('transactions.label.tbd')
        .tax-fee.items
          %span= t('transactions.label.tax')
          - if transaction.draft_order?
            %span= money_to_humanized(transaction.tax_cents)
          - else
            %span= money_to_humanized(@calculate_money.get_tax_fee(state, shipping_fee))
        .price-with-all-fee.items
          %span= t('transactions.label.total_with_tax')
          - if transaction.draft_order?
            %span= money_to_humanized((@calculate_money.get_final_price_for_draft_order))
          - else
            %span= money_to_humanized(@calculate_money.final_price(state, shipping_fee))