.common-box.padding-15.margin-bt-0
  .row
    .col-12
      .header-title.margin-bt-0
        %span Order Summary
  .order-summary-products
    - session[:cart].each do |key, value|
      - listing = Listing.find_by(id: key)
      .row
        .col-12
          .listing-row
            .main-image
              = image_tag listing.main_image, :class => "design-image-too-wide"
            .listing-information
              .listing-title
                = listing.title
              .coverage
                .coverage-selection
                  %span Coverage:
                  %span Movri Coverage
              .sku-quantity
                .quantity
                  %span Quantity:
                  %span= value
              .price
                %span.number-price
                  -# with coverage fee
                  - listing_subtotal = @calculate_money.listing_subtotal(listing, value)
                  = money_to_humanized(listing_subtotal)
                %span.day-rent
                  \/
                  = session[:booking][:total_days]
                  days rental
  .row
    .col-12
      .order-summary-prices
        .subtotal.items
          %span Subtotal
          %span= money_to_humanized(@calculate_money.listings_subtotal)
        - if @transaction.promo_code
          .promo-code-discount.items
            %span= "Promo Code (#{@transaction.promo_code.code})"
            %span= "- #{money_to_humanized(@calculate_money.get_discount_for_all_products_cart)}"
        .shipping-fee.items
          %span Shipping
          - shipping_fee = default_shipping_fee ? PriceCalculationService.to_cents(default_shipping_fee) : 0
          %span= shipping_fee > 0 ? money_to_humanized(shipping_fee) : 'TBD'
        .tax-fee.items
          %span Tax
          %span= money_to_humanized(@calculate_money.get_tax_fee(shipping_fee))
        .price-with-all-fee.items
          %span Total (including tax)
          %span= money_to_humanized(@calculate_money.final_price(shipping_fee))
