.modal#custom-item-modal
  .row.title.margin-bt-15
    = "Add custome item"
  .row.product-info
    .col-6.margin-bt-15
      %p= "Line item name"
      = text_field_tag :name, params[:name]
    .col-3
      %p= "Price per item"
      = text_field_tag :price, params[:price], placeholder: "$"
    .col-3
      %p= "Quantity"
      = number_field_tag :quantity, params[:quantity], value: '1'
    .col-12.margin-bt-15
      = check_box_tag :tax
      %span= "Item is taxable"
    .col-12.margin-bt-15
      = check_box_tag :shipping
      %span= "Item requires shipping"
  .row.footer
    .col-12
      %button.button.right.margin-l-5.save-line-item-btn= "Save line item"
      %a.button.right{rel: "modal:close"}= "Cancel"