.modal#browse-product-modal
  .col-12.title
    = "Select Product"
  .row.search-box
    = text_field_tag :product_name, params[:product_name], placeholder: 'Search products'
  .row.products
    - listings.each do |listing|
      .col-12.product
        = check_box_tag 'product_ids', listing.id, checked= false, class: "left"
        = image_tag listing.listing_image.image(:tiny), class: "left"
        %span.left= listing.title
        %span.right= "#{listing.available_quantity} in stock"
  .row.footer
    .col-12
      %p.left= "No variant selected"
      = link_to "Add to order", add_to_order_admin_community_draft_orders_path(@current_community), remote: true, class: "button right margin-l-5 add-to-order-button"
      %a.button.right{rel: "modal:close"}= "Cancel"