#cancel-order-modal.modal
  .modal-content
    .flex-items.padding-15.margin-bt-20.br-bottom
      .width-70
        .title
          #shipping-rates-title
            %b Cancel Order
      .width-30.align-right
        %span.close.margin-0 ×
    .modal-body.clearfix
      -# %p.items-style Canceling an order can't be undone.
      -# %h3 Restock items
      -# - order.transaction_items.each do |item|
      -#   .flex-items.br-bottom.padding-15
      -#     .width-50.margin-0
      -#       %span.block= link_to item.listing.title, listing_path(item.listing)
      -#       %span.block.items-style= item.listing.sku
      -#     .width-15
      -#       - price = PriceCalculationService.calculate(item.listing, order.booking&.duration) * 1
      -#       %span.block.items-style= money_to_humanized(price)
      -#     .width-10
      -#       %span.items-style x
      -#     .width-10.quantity-box.margin-0
      -#       %span.block.items-style= item.quantity
      -#     .width-15.align-right
      -#       %span.items-style= "#{money_to_humanized(price*item.quantity)}"
      -# .flex-items.padding-15
      -#   .width-85
      -#     .items.align-right
      -#       %span.items-style Subtotal
      -#     .items.align-right
      -#       %span.items-style Tax
      -#     .items.align-right
      -#       %span.items-style Total available to refund
      -#   .width-15.magin-0
      -#     .items.align-right
      -#       %span.bold $00.90
      -#     .items.align-right
      -#       %span.bold $00.90
      -#     .items.align-right
      -#       %span $00.90
      -# .items
      -#   %h3 Void Payment
      -#   %span Non-refundable: Manual
      - if order.is_cancelled?
        .center-items
          %span This order already cancelled.
      - else
        = form_for [:admin , order], url: admin_community_transaction_path(@current_community, order), method: :delete do |f|
          .padding-15
            .display-flex.cancel-refund-field
              .width-60
                %span Refund with: Stripe (**** **** **** 5148)
              .width-40
                = text_field_tag :refund_amount, nil, required: true
                %span.items-style= "CA#{money_to_humanized(@amount_available)} available for refund"
          .items.br-bottom.padding-15.margin-bt-20
            %span.block.items-style Reason for canceling this order
            = text_field_tag :reason_for_canceling, nil, required: true
          .flex-items
            .width-50
              .notify
                %label
                  = check_box_tag :sent_mail_cancel_order_to_customer, nil, true
                  %span.items-style Send a notification to the customer
            .width-50
              .flex-items
                .width-50.padding-0
                  .common-cancel-btn#keep-order-btn.pointer
                    %span Keep Order
                .width-50.padding-0
                  .common-delete-label#cancel-order-btn.pointer
                    = f.submit 'Cancel Order', data: {confirm: "Are you sure?"}
