- transaction = email_params[:transaction]
- @calculate_money = TransactionMoneyCalculation.new(transaction, session, @current_user, false)

.col-12.from.br-bottom
  .col-4
    %span= "From:"
  .col-8
    %span
.col-12.to.br-bottom
  .col-4
    %span= "To:"
  .col-8
    %span= email_params[:email_to]
.col-12.subject
  .col-4
    %span= "Subject:"
  .col-8
    %span Complete your purchase
.col-12.email-content
  .row.br-bottom
    .col-12
      %h1.left= "MOVRI"
      %h3.right
    .col-12
      %h2.left= "Complete your purchase"
    .col-12
      %span= email_params[:custom_message]
    .col-12
      %button.button.dp-inline= "Complete your purchase"
      %span= "or"
      %a= "Visit our store"
  .row.br-bottom
    .col-12
      %h2.left= "Order summary"
    .col-12
      - transaction.transaction_items.each do |item|
        - listing = item.listing
        - if listing
          .col-6
            %span.left= "#{listing.title} x #{item.quantity}"
          .col-6
            %span.right= money_to_humanized(item.price_cents)
    .col-12
      - transaction.custom_items.is_listing.each do |item|
        .col-6
          %span.left= "#{item.name} x #{item.quantity}"
        .col-6
          %span.right= money_to_humanized(item.price_cents)
  .row.br-bottom
    .col-8.right
      .col-12
        %span.left= "Subtotal"
        %span.right= money_to_humanized((@calculate_money.get_price_cents_for_all_products_cart))
      .col-12
        %span.left= "Shipping"
        %span.right= money_to_humanized(transaction.draft_order_shipping_fee&.price_cents)
      .col-12.br-bottom
        %span.left= "Taxes"
        %span.right= money_to_humanized(transaction.tax_cents)
      .col-12
        %span.left= "Total"
        %span.right= money_to_humanized((@calculate_money.get_final_price_for_draft_order))
  .row.br-bottom
    .col-12
      %h3= "Customer information"
    .col-6
      %p= "Shipping Address"
      - shipping_address = transaction.shipping_address
      - if shipping_address
        %p= "#{shipping_address&.first_name} #{shipping_address&.last_name}"
        %p= shipping_address&.company
        %p= shipping_address&.street1
        %p= shipping_address&.apartment
        %p= "#{shipping_address&.city}, #{CANADA_PROVINCES.key(shipping_address&.state_or_province)}"
        %p= "#{shipping_address&.country}, #{shipping_address&.postal_code}"
        %p= shipping_address&.format_phone
      - else
        %span Shipping address not create yet
    .col-6
      %p= "Billing Address"
      - billing_address = transaction.billing_address
      - if billing_address
        %p= "#{billing_address&.first_name} #{billing_address&.last_name}"
        %p= billing_address&.company
        %p= billing_address&.street1
        %p= billing_address&.apartment
        %p= "#{billing_address&.city}, #{CANADA_PROVINCES.key(billing_address&.state_or_province)}"
        %p= "#{shipping_address&.country}, #{billing_address&.postal_code}"
        %p= billing_address&.format_phone
      - else
        = "Billing address not create yet."
  .row
    .col-12.align-center
      %p= "If you have any questions, reply to this email or contact us at sales@movri.ca"