%tr
  %td
    = order.id
  %td
    - if order.order_number.nil?
      %span -
    - else
      = "##{order.order_number}"
  %td
    = order.completed_at_to_PTS
  %td
    - if order.shipping_address
      = order.shipping_address.fullname
    - else
      = order.buyer&.fullname
  %td
    - if order.completed?
      .state-label.paid-state-label
        %i.fa.fa-usd
        %span Paid
    - else
      .state-label.unpaid-state-label
        %i.fa.fa-circle
        %span Unpaid

  %td
    .order-label-state
      .state-label{class: order.fulfilled? ? 'fulfilled-state-label' : 'unfulfilled-state-label' }
        %i.fa.fa-circle-o
        %span= order.fulfilled? ? 'Fulfilled' : "Unfulfilled"
    .order-label-state
      - if order.is_cancelled?
        .state-label.cacelled-state-label
          %i.fa.fa-ban
          %span Cancelled
  %td
    = money_to_humanized(TransactionMoneyCalculation.new(order, session, @current_user).final_price)
  %td
    = "#{order.total_quantity} #{order.total_quantity > 1 ? 'items' : 'item'}"
  %td
    = order.get_delivery_method
  %td
    = link_to "Edit", edit_admin_community_transaction_path(@current_community, order)