.modal#payment-with-credit-card-modal
  .row.title
    = 'Pay with credit card'
  .row.br-bottom
    .col-12
      %span= "Card number"
    .col-12
      .col-6
        %span= "Name on card"
      .col-3
        %span= "Expires"
      .col-3
        %span= "CVV"
  .row.shipping-address
  .row.billing-address