.wrapper.admin-background
  = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
  .left-navi-section#edit-order
    .row
      .col-12
        %i.fa.fa-angle-left
        %span= link_to 'Orders', admin_community_transactions_path
    .row
      .col-12
        %span.fz-30.bold= "##{@order.order_number}"
        %span= "#{@order.updated_at} from Online Store"
        .state-label.paid-state-label
          %i.fa.fa-circle
          %span= @order.completed? ? 'Paid' : "Unpaid"
        .state-label.unfulfilled-state-label
          %i.fa.fa-circle-o
          %span= @order.fulfilled? ? "Fulfilled" : "Unfulfilled"
    .row
      .col-12
        %i.fa.fa-print
        %span.fa-fw Print
        %i.fa.fa-reply
        %span.fa-fw= link_to "Refund", refund_transaction_admin_community_transaction_path(@current_community, @order)
        %i.fa.fa-times
        %span.cancel-order-btn.pointer Cancel
    .display-flex
      .width-70
        .setting-box.margin-bt-20
          .flex-items
            .unfulfilled-icon
              .out-line
            %span.capitalize.bold= @order.fulfilled? ? "Fulfilled" : "Unfulfilled"
          - @order.transaction_items.each do |item|
            .flex-items.br-bottom
              .width-15.margin-0
                = image_tag item.listing.main_image
              .width-85
                .flex-items
                  .width-50
                    %span= item.listing.title
                  .width-25
                    - price = PriceCalculationService.calculate(item.listing, @order.booking&.duration) * 1
                    %span.block= "#{money_to_humanized(price)} x #{item.quantity}"
                  .width-25.align-right
                    %span= "#{money_to_humanized(price*item.quantity)}"
                .flex-items
                  .width-50
                    %span Movri Coverage
                  .width-50
                    %span=money_to_humanized(@calculate_money.total_coverage(item, item.quantity))
          .booking-dates.padding-15.br-bottom
            .flex-items
              .width-35
                %span Arrival Date:
                %span= @order.booking&.start_on
              .width-35
                %span Return Date:
                %span= @order.booking&.end_on
              .width-30.align-right
                %span Duration:
                %span= "#{@order.booking&.duration} days"
          - unless @order.fulfilled?
            .flex-items.padding-15.fulfilled-option
              .width-50
                %span Shipping not required
              .width-50.align-right
                .common-label-btn.common-admin-btn.margin-0.btn-mark-as-fulfilled
                  %span Mark as Fulfilled

          = form_for [:admin, @order], url: admin_community_transaction_path(@current_community, @order) do |f|
            .fulfilled-section.padding-15{class: @order.fulfilled? ? "" : "hidden"}
              .row
                .col-12
                  %span.uppercase.bold Tracking Information (Optional)
              .row
                .form-group
                  .col-6
                    %span Tracking Number
                    = f.text_field :tracking_number
                  .col-6
                    %span Shipping Carrier
                    = f.select :shipping_carrier, options_for_select({'None': 'none', 'FedEx': 'fedex', 'Ups': 'ups'}, selected: @order.shipping_carrier), {}, {class: 'width-100'}
              .row.margin-0.padding-15.br-bottom
                .col-12.center-items
                  .common-label-btn.common-admin-btn.margin-0
                    - if @order.fulfilled?
                      = f.submit 'Update'
                    - else
                      = f.submit 'Fulfill items'
              .notify.padding-15
                .row
                  .col-12
                    %span.uppercase Notify customer of shipment
                    %label
                      = check_box_tag :sent_tracking_number_to_customer, nil, true
                      %span Send shipment details to  your customer now

        .setting-box.margin-bt-20
          .flex-items
            .paid-icon
              .out-line
                %i.fa.fa-check
            %span.bold= @order.completed? ? 'Paid' : "Unpaid"
          .subtotal
            .flex-items
              .width-25
                %span Subtotal
              .width-25
                %span.items-style= "#{@order.total_quantity} items"
              .width-60.align-right
                %span= money_to_humanized(@calculate_money.get_price_cents_for_all_products_cart)
          .discount-code
            - if @order.promo_code
              .flex-items
                .width-25
                  %span Discount
                .width-25
                  %span= @order.promo_code.code
                .width-50.align-right
                  %span= "- #{money_to_humanized(@calculate_money.get_discount_for_all_products_cart)}"
          .morvi_coverage
            .flex-items
              .width-25
                %span Morvi Coverage
              .width-25
              .width-50.align-right
                %span= money_to_humanized(@calculate_money.total_coverage_for_all_items_cart)
          .tax
            .flex-items
              .width-25
                %span Tax
              .width-75.padding-0
                - @tax.tax_rates.each do |k, v|
                  .flex-items
                    .width-25.padding-0
                      %span.block.items-style= "#{k} #{v}%"
                    .width-75.align-right
                      %span= money_to_humanized(@calculate_money.calculate_tax_fee_base_on_percent(v))
          .shipping-fee
            .flex-items
              .width-25
                %span Shipping
              .width-25.padding-0
                - if !@order.will_pickup? && @order.shipper
                  %span.items-style= @order.shipper.service_name
              .width-50.align-right
                - if @order.will_pickup?
                  %span Free
                -else
                  %span= "$#{@order.shipper ? @order.shipper.amount : 0}"
          .total.br-bottom.padding-b-t-15
            .flex-items
              .width-25
                %span Total
              .width-25
              .width-50.align-right
                %span= money_to_humanized(@calculate_money.final_price)

          .flex-items.padding-b-t-15.br-bottom
            .width-50
              %span Paid by customer
            .width-50.align-right
              %span= @order.completed? ? money_to_humanized(@calculate_money.final_price) : "$0"

          - if @order.stripe_payments.refund.any?
            .list-refunds.padding-b-t-15.br-bottom
              - @order.stripe_payments.refund.each do |payment|
                .flex-items
                  .width-20.margin-0
                    %span Refunded
                  .width-30
                    %span.items-style= "Reason: #{payment.note}"
                  .width-50.align-right
                    %span= "-#{money_to_humanized(payment.sum_cents)}"
          - if @order.is_cancelled?
            .cancel-payment.padding-b-t-15
              - if @order.stripe_payments.cancel.any?
                - @order.stripe_payments.cancel.each do |payment|
                  .flex-items
                    .width-20.margin-0
                      %span Cancelled
                    .width-30
                      %span.items-style= "Reason: #{payment.note}"
                    .width-50.align-right
                      %span= "-#{money_to_humanized(payment.sum_cents)}"
              - else
                .flex-items
                  .width-20.margin-0
                    %span Cancelled
                  .width-30
                    %span.items-style= "Reason: #{@order.reason_for_cancelling}"

        - if @order.completed? && @order.have_stripe_customer
          .setting-box
            .flex-items
              .paid-icon
                .out-line
                  %i.fa.fa-plus
              %span.bold Charge an extra fee
            = form_for [:admin, @order], url: charge_extra_fee_admin_community_transaction_path(@current_community, @order), method: :get do |f|
              .row
                .col-8
                  %span Fee ($)
                  = text_field_tag 'stripe_payment[fee_cents]', nil, placeholder: '$', required: true
              .row
                .col-8
                  %span Reason
                  = text_area_tag 'stripe_payment[note]', nil, placeholder: 'Note the reason for this fee', required: true
                  %span This will sent an invoice to the customer.
              .row
                .col-8
                  .common-label-btn.common-admin-btn.margin-0
                    = f.submit 'Charge'
          - if @order.stripe_payments.extra_fee.any?
            .setting-box
              %span.bold History
              %table
                %thead
                  %tr
                    %th
                      Fee($)
                    %th
                      Reason
                    %th
                      Date Charge
                %tbody
                  - @order.stripe_payments.extra_fee.each do |payment|
                    %tr
                      %td
                        = money_to_humanized(payment.fee_cents)
                      %td
                        = payment.note
                      %td
                        = payment.created_at



      .width-30
        .setting-box.padding-0.margin-bt-20
          .br-bottom.padding-15
            .item.flex-items
              .width-50.bold
                %span Note
              .width-50.align-right
                %a.float-right#edit-customer{href: "#edit-customer-note", rel: "modal:open"}= "Edit"
            .item.row
              .col-12
                .span.block= @order.instructions_from_seller.present? ? @order.instructions_from_seller : 'No notes'
        .setting-box.padding-0
          .customer.br-bottom.padding-15
            .item.flex-items
              .width-50.bold
                %span Customer
              .width-50.align-right
                = image_tag PersonViewUtils.person_avatar(@current_user), height: 62, width: 62, class: 'header-menu-icon icon-movri-user icon-movri-user-popup'
            .item.row
              .col-12
                - if @order.starter
                  .span.block= @order.starter.fullname
                  .span.block= "#{@order.starter.starter_transactions.count} orders"
          .contact.br-bottom.padding-15
            .item.flex-items
              .width-80.bold
                %span.uppercase.fz-12 Contact Information
              .width-20.align-right
                = link_to 'Edit', ""
            .item.row
              .col-12
                - if @order.starter
                  .span.block= @order.starter.get_email
                - elsif @order.shipping_address
                  .span.block= @order.shipping_address.email


          .shipping-address.br-bottom.padding-15
            .item.flex-items
              .width-80.bold
                %span.uppercase.fz-12 Shipping Address
              .width-20.align-right
                = link_to 'Edit', ""
            .item.row
              .col-12
                - if @order.get_shipping_address
                  - shipping_address = @order.get_shipping_address
                  .font-size-14
                    = "#{shipping_address&.first_name} #{shipping_address&.last_name}"
                  .font-size-14
                    = shipping_address&.street1
                  .font-size-14
                    = shipping_address&.apartment
                  .font-size-14
                    = "#{shipping_address&.city}, #{CANADA_PROVINCES.key(shipping_address&.state_or_province)}"
                  .font-size-14
                    = "#{shipping_address&.country}, #{shipping_address&.postal_code}"
                  .font-size-14
                    = shipping_address&.format_phone
                - else
                  .span.block No shipping address

          .billing-address.br-bottom.padding-15
            .item.flex-items
              .width-80.bold
                %span.uppercase.fz-12 Billing Address
              .width-20.align-right
                = link_to 'Edit', ""
            .item.row
              .col-12
                - if @order.get_billing_address
                  - billing_address = @order.get_billing_address
                  .font-size-14
                    = "#{billing_address&.first_name} #{billing_address&.last_name}"
                  .font-size-14
                    = billing_address&.street1
                  .font-size-14
                    = billing_address&.apartment
                  .font-size-14
                    = "#{billing_address&.city}, #{CANADA_PROVINCES.key(billing_address&.state_or_province)}"
                  .font-size-14
                    = "#{billing_address&.country}, #{billing_address&.postal_code}"
                  .font-size-14
                    = billing_address&.format_phone
                - else
                  .span.block No billing address
    = render partial: "cancel_order", locals: {order: @order}

.modal#edit-customer-note
  = form_for @order, url: admin_community_transaction_path(community_id: @current_community, id: @order), method: :put do |f|
    .row.title.mb-0
      = "Edit Customer Note"
    .row
      .col-12
        %label Note
        = f.text_field :instructions_from_seller
    .row.footer
      %button.button.right.margin-l-5= "Save"
      %a.button.right{rel: "modal:close"}= "Cancel"

- content_for :extra_javascript do
  :javascript
    RefundSetting.run()
    $(".btn-mark-as-fulfilled").click(function(){
      $(this).parents('.fulfilled-option').hide();
      $('.fulfilled-section').slideDown("slow");
    })


