- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.transactions.transactions")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section#manage-orders
  .row
    .col-6
      %h2= t("admin.communities.manage_orders.manage_orders", community_name: @current_community.name(I18n.locale))
    .col-6
      = link_to 'Create Order', new_admin_community_transaction_path(@current_community), class: "button create-order-button"

  = form_tag '', :method => :get do
    .row
      .col-10
        = text_field_tag :q, params[:q], placeholder: t('admin.communities.transactions.search_by_title_parties')
      .col-2
        = submit_tag t("admin.communities.transactions.search"), class: 'button search-button'

  .row
    #table-tabs.col-12
      %ul
        %li
          %a{href: "#admin_manage_orders"}="All Orders"
        %li
          %a{href: "#admin_manage_fulfilled_orders"}="Fulfilled"
        %li
          %a{href: "#admin_manage_unfulfilled_orders"}="Unfulfilled"

      %table#admin_manage_orders.mytabs
        = render 'table_head'
        %tbody
          - @transactions_presenter.transactions.each do |transaction|
            = render partial: 'order', locals: {order: transaction}
      %table#admin_manage_fulfilled_orders.mytabs
        = render 'table_head'
        %tbody
          - @transactions_presenter.transactions.map{|t| t if t.current_state == "fulfilled"}.reject(&:nil?).each do |transaction|
            = render 'order', locals: {order: transaction}
      %table#admin_manage_unfulfilled_orders.mytabs
        = render 'table_head'
        %tbody
          - @transactions_presenter.transactions.map{|t| t if t.current_state == "unfulfilled"}.reject(&:nil?).each do |transaction|
            = render 'order', order: transaction
  .row
    .col-12
      -# = will_paginate @transactions_presenter.transactions

- content_for :extra_javascript do
  = js_t ["admin.communities.transactions.status_filter.all", "admin.communities.transactions.status_filter.selected_js"], true
  :javascript
    window.ST.initializeTransactionSearchFormSelector();

