.wrapper.admin-background
  = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
  .left-navi-section#edit-order
    .row
      .col-12
        %i.fa.fa-angle-left
        %span= link_to "##{@order.order_number}", edit_admin_community_transaction_path(@current_community, @order)
    .width-80
      .row
        .col-6
          %span.fz-30.bold Refund
        .col-6.align-right
          .common-cancel-btn
            = link_to "Cancel", edit_admin_community_transaction_path(@current_community, @order)
      = form_for [:admin , @order], url: charge_refund_fee_admin_community_transaction_path(@current_community, @order), method: :post, remote: true do |f|
        .setting-box.padding-0
          .refund-amount.padding-15
            .items
              %span.bold Refund Amount
              %span.block Stripe
              = text_field_tag :refund_amount, nil
              %span.items-style= "CA#{money_to_humanized(@amount_available)} available for refund"
          .row.margin-0.padding-15
            .margin-bt-20
              %span.bold Reason for refund
              .items
                = text_field_tag :reason_refund
              %p.items-style Only you and the other staff can see this reason.
          .row.margin-0
            .col-12.center-items
              .common-label-btn.common-admin-btn.margin-0.width-100
                = f.submit 'Refund', class: 'width-100'
        .notify
          %label
            = check_box_tag :sent_mail_refund_to_customer, nil, true
            %span.items-style Send a notification to the customer