= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
.brown-background.checkout-settings.left-navi-section.admin-section-box
  = form_for [:admin, @checkout_setting] do |f|
    .admin-header.margin-bt-20
      %span Checkout
    .setting-box.margin-bt-20
      %label
        = f.radio_button :account_permission, 'only_guest'
        %span Accounts are disabled
        %span.block.note Customers are only be able to check out as guests.
      %label
        = f.radio_button :account_permission, 'guest_or_accounts'
        %span Accounts are optional
        %span.block.note Customers will be able to check out with a customer account or as guest.
      %label
        = f.radio_button :account_permission, 'only_accounts'
        %span Accounts are required
        %span.block.note Customers are only be able to check out if they have a customer account.

    .setting-box.margin-bt-20
      %label
        = f.check_box :order_notes
        %span Enable order notes text box

    .setting-box
      %span.bold To check out
      %label
        = f.radio_button :contact, 'checkout_with_phone_or_email'
        %span Customers can checkout using their phone number or email
        %span.block.note Customers who choose to check out using their phone number will get order updates by SMS. This means that their email may not be collected during checkout.
      %label
        = f.radio_button :contact, 'checkout_with_email'
        %span Customers can only checkout using email.
    .setting-box.margin-bt-20
      %span.bold To recieve shipping updates
      %label
        = f.check_box :add_info_after_complete_order
        %span Customers can choose to add a phone number or email to reveive shipping address after the complete their order.
      %label
        = f.check_box :can_download_app
        %span Customers can download the Shop App from their order status page.

    .setting-box
      %span Full name
      %label
        = f.radio_button :full_name_option, 'require_last_name_only'
        %span Require last name only
      %label
        = f.radio_button :full_name_option, 'require_fullname'
        %span Require first and last name
    .setting-box
      %span Company name
      %label
        = f.radio_button :company_name_option, 'hidden_company_name'
        %span Hidden
      %label
        = f.radio_button :company_name_option, 'optional_company_name'
        %span Optional
      %label
        = f.radio_button :company_name_option, 'required_company_name'
        %span Required
    .setting-box
      %span Address line 2 (aprtment, unit, etc.)
      %label
        = f.radio_button :address_2_option, 'hidden_address_2'
        %span Hidden
      %label
        = f.radio_button :address_2_option, 'optional_address_2'
        %span Optional
      %label
        = f.radio_button :address_2_option, 'required_address_2'
        %span Required
    .setting-box
      %span Shipping address phone number
      %label
        = f.radio_button :shipping_address_phone_option, 'hidden_shipping_address_phone'
        %span Hidden
      %label
        = f.radio_button :shipping_address_phone_option, 'optional_shipping_address_phone'
        %span Optional
      %label
        = f.radio_button :shipping_address_phone_option, 'required_shipping_address_phone'
        %span Required


    %p Order processing
