.row.specification
  .desktop-display
    = render partial: 'listings/desktop_designs/listing_details/spec_tab'
    = render partial: 'listings/desktop_designs/listing_details/overview_tab'
    = render partial: 'listings/desktop_designs/listing_details/qa_tab'
    = render partial: 'listings/desktop_designs/listing_details/accessories_tab'
  .mobile-display
    = render partial: 'listings/mobile_designs/listing_details/overview_tab'
    = render partial: 'listings/mobile_designs/listing_details/spec_tab'
    = render partial: 'listings/mobile_designs/listing_details/in_the_box_tab'
    = render partial: 'listings/mobile_designs/listing_details/qa_tab'
    = render partial: 'listings/mobile_designs/listing_details/question_tab'
    = render partial: 'listings/mobile_designs/listing_details/accessories_tab'
