.row.listing-title#listing-title-sticky
  .col-12.clearfix
    %span
      = @listing.title
    - if @current_user.present? && (current_user?(@listing.author) || @current_user.has_admin_rights?(@current_community))
      = link_to 'Edit', edit_listing_path(@listing)
  .col-12.listing-sku
    %span
      SKU :
    %span.sku
      = @listing.sku
.desktop-display
  = render partial: 'listings/desktop_designs/listing_order_item'
.mobile-display
  = render partial: 'listings/mobile_designs/listing_order_item'

-# .row.listing-style
-#   .col-9.clearfix.style
-#     %p Style
-#     .style-item.selected
-#       Body Only
-#     .style-item
-#       With Canon Body C Log
-#     .style-item
-#       With 24-70mm Lens
-#     .style-item
-#       With 24-105mm Lens
-#     .style-item
-#       Body Only
-#     .style-item
-#       With Canon Body C Log
-#     .style-item
-#       With 24-70mm Lens
-#     .style-item
-#       With 24-105mm Lens
-# .row.listing-type
-#   .col-9.clearfix.type
-#     %p Type
-#     .type-item.selected
-#       Standard
-#     .type-item
-#       With 50mm
-#     .type-item
-#       For Astrophotography Use
-# .row.listing-configuration
-#   .col-9.clearfix.configuration
-#     %p Configuration
-#     .configuration-item.selected
-#       Base
-#     .configuration-item
-#       With Free Accessory Kit
-#     .configuration-item
-#       With Deluxe Kit
-#     .configuration-item
-#       With Card & Battery Grip Kit
-#     .configuration-item
-#       With Cinema Kit
.row.listing-payment-method
  .col-9.clearfix.payment-method
    - @current_community.assurance_options.each do |assurance_option|
      - if assurance_option.visible
        %div{class: "payment-method-item col-2", id: "assurance_option_#{assurance_option.id}", title: assurance_option.content}
          = image_tag(assurance_option.image.url, class: 'header-menu-icon icon-movri-calendar')
          %span.line-height-16
            = assurance_option.title


.row.listing-save-availabe
  .col-6.clearfix.save-available
    %p
      Savings Availabe:
    .saving-available-item

.desktop-display
  = render partial: 'listings/desktop_designs/trade'
.mobile-display
  = render partial: 'listings/mobile_designs/trade'

- content_for :extra_javascript do
  :javascript
    $(".payment-method-item").mouseover(function(e) {
      $(document).tooltip();
    });
