.row.listing-title
  .col-12.clearfix
    %span
      = @listing.title
  .col-12.listing-sku
    %span
      SKU :
    %span.sku
      RO8514FFC
.desktop-display
  = render partial: 'listings/desktop_designs/listing_order_item'
.mobile-display
  = render partial: 'listings/mobile_designs/listing_order_item'
    
.row.listing-style
  .col-9.clearfix.style
    %p Style
    .style-item.selected
      Body Only
    .style-item
      With Canon Body C Log
    .style-item
      With 24-70mm Lens
    .style-item
      With 24-105mm Lens
    .style-item
      Body Only
    .style-item
      With Canon Body C Log
    .style-item
      With 24-70mm Lens
    .style-item
      With 24-105mm Lens
.row.listing-type
  .col-9.clearfix.type
    %p Type
    .type-item.selected
      Standard
    .type-item
      With 50mm
    .type-item
      For Astrophotography Use
.row.listing-configuration
  .col-9.clearfix.configuration
    %p Configuration
    .configuration-item.selected
      Base
    .configuration-item
      With Free Accessory Kit
    .configuration-item
      With Deluxe Kit
    .configuration-item
      With Card & Battery Grip Kit
    .configuration-item
      With Cinema Kit
.row.listing-payment-method
  .col-9.clearfix.payment-method
    .payment-method-item.col-2
      = image_tag("mf_icons/pay-on-delivery-icon.png", class: 'header-menu-icon icon-movri-calendar')
      %span
        Pay on delivery
    .payment-method-item.col-2
      = image_tag("mf_icons/10-days-replacement-icon.png", class: 'header-menu-icon icon-movri-calendar')
      %span
        10 Days Replacement
    .payment-method-item.col-2
      = image_tag("mf_icons/movri-deliver-icon.png", class: 'header-menu-icon icon-movri-calendar')
      %span
        Movri Delivered
    .payment-method-item.col-2
      = image_tag("mf_icons/movri-deliver-icon.png", class: 'header-menu-icon icon-movri-calendar')
      %span
        Movri Delivered
    .payment-method-item.col-2
      = image_tag("mf_icons/movri-deliver-icon.png", class: 'header-menu-icon icon-movri-calendar')
      %span
        Movri Delivered

.row.listing-save-availabe
  .col-6.clearfix.save-available
    %p
      Savings Availabe:
    .saving-available-item

.desktop-display
  = render partial: 'listings/desktop_designs/trade'
.mobile-display
  = render partial: 'listings/mobile_designs/trade'
  
      
