.listing-breadcrumbs
  %div
    .listing-breadcrumb.flex-items
      = link_to 'HOME', homepage_with_locale_path
      %i.fa.fa-chevron-right
      - if @listing.main_category
        = link_to @listing.main_category.url.gsub("-", " ").upcase, categories_path(categories: @listing.main_category.url)
        %i.fa.fa-chevron-right
      - if @listing.subcategory
        = link_to @listing.subcategory.url.gsub("-", " ").upcase, categories_path(subcategories: @listing.subcategory.url)
        %i.fa.fa-chevron-right
      - if @listing.children_category
        = link_to @listing.children_category.url.gsub("-", " ").upcase, categories_path(children_categories: @listing.children_category.url)
        %i.fa.fa-chevron-right
      = link_to @listing.title, listing_path(@listing)