- with_image_frame(@listing) do |reason, listing_images|
  - if reason == :images_ok
    .listing-image-carousel.right
      - if @listing_presenter.prev_image_id && @listing_presenter.next_image_id
        .col-1
          %ul#image-list
            - listing_images.each_with_index do |listing_image, index|
              - if index < 4
                %li.zoom-image-slide
                  .zoom-image-item
                    = image_tag(listing_image.image(:thumb))
              - elsif index < 5
                %li.zoom-image-slide.zoom-image-show-more
                  .zoom-image-item
                    = image_tag(listing_image.image(:thumb))
                    %span
                      = "+ #{listing_images.count - 4}"
            - if ListingVideo.find_by(listing_id: @listing.id)
              %li.zoom-image-slide.zoom-image-video
                .zoom-image-item
                  %i.icon-play-circle
        #slideshow-main.right.col-11
          %ul#slideshow-list
            - listing_images.each do |listing_image|
              %li.zoom-image-slide
                .zoom-image-item
                  = image_tag(listing_image.image(:original))

    - content_for :extra_javascript do
      :javascript
        var listingImages = #{raw listing_images.map { |image| ListingImageJsAdapter.new(image) }.to_json }
        var currentImage = #{params[:image].present? ? params[:image].to_i : listing_images.first.id};
        ST.listingImages(listingImages, currentImage);

        function intializeSlide() {
          $('#slideshow-list li:first-child').eq(0).show().siblings().hide();
          $('#image-list li:first-child').addClass('active').siblings().removeClass('active');
        }
        intializeSlide();
        $('#image-list li').click(function () {
          var clickIndex = $(this).index()
          $('#slideshow-list li').eq(clickIndex).show().siblings().hide();
          $(this).addClass('active').siblings().removeClass('active');
        });
    = render partial: 'listings/zoom_images', locals: { listing_images: listing_images }
  - else
    .listing-image-text-container
      .listing-image-frame
        .listing-image-frame-content
          .listing-image-vertical-centering
            .listing-no-image
              - if reason == :images_processing
                = t("listings.show.processing_uploaded_image")
              - else
                = t(".no_description")