#zoom-image-modal.modal
  .modal-content
    .modal-header
      %span.close ×
      .zoom-image-cate
        %ul
          %li
            %span.tab-link{'data-tab' => 'product_image_tab'}
              Product Images
          -# %li
          -#   %span.tab-link{'data-tab' => 'video_tab'}
          -#     Video
          -# %li
          -#   %span.tab-link{'data-tab' => 'customer_image_tab'}
          -#     Customer Images
    .modal-body.clearfix
      .desktop-display.root-parent
        .tab-content#product_image_tab
          .modal-image-list
            - listing_images.each do |listing_image|
              .zoom-image-wrap
                .zoom-image-item
                  = image_tag(listing_image.image(:thumb), alt: @current_community.image_alt_text)
          .modal-slideshow-list
            %i.icon-angle-left.desktop-display
            .zoom-image-show
              - listing_images.each do |listing_image|
                .zoom-image-wrap
                  = image_tag(listing_image.image(:original), alt: @current_community.image_alt_text)
            %i.icon-angle-right.desktop-display
        .tab-content#video_tab
          .row
            .modal-image-list.col-3
            .modal-slideshow-list.col-9
              .zoom-image-show
                - if @listing.video.present?
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@listing.video}"}
      .mobile-display.root-parent
        .modal-slideshow-list
          .zoom-image-show
            - listing_images.each do |listing_image|
              .zoom-image-wrap
                = image_tag(listing_image.image(:original), alt: @current_community.image_alt_text)
        .modal-image-list
          - listing_images.each do |listing_image|
            .zoom-image-wrap
              .zoom-image-item
                = image_tag(listing_image.image(:thumb), alt: @current_community.image_alt_text)

- content_for :extra_javascript do
  :javascript
    var modal = $('#zoom-image-modal');
    var btn = $('#slideshow-list .zoom-image-slide, .zoom-image-show-more');
    var span = $('.close');
    var iconVideo = $('.zoom-image-video');

    btn.on('click', function() {
      modal.css('display', 'block');
      $('span[data-tab="product_image_tab"]').trigger('click');
    });

    iconVideo.on('click', function() {
      modal.css('display', 'block');
      $('span[data-tab="video_tab"]').trigger('click');
    });

    span.on('click', function() {
      modal.css('display', 'none');
    });

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.css('display', 'none');
      }
    }

    function intializeZoomSlide() {
      $('.modal-image-list .zoom-image-wrap:first-child .zoom-image-item').addClass('active').siblings().removeClass('active');
      $('.modal-slideshow-list .zoom-image-wrap:first-child').eq(0).show().siblings().hide();
    }

    intializeZoomSlide();

    $('.modal-image-list .zoom-image-wrap').click(function () {
      var rootParent = $(this).parents('.root-parent');
      var clickIndex = $(this).index();
      $(rootParent).find('.modal-slideshow-list .zoom-image-wrap').eq(clickIndex).show().siblings().hide();
      $(rootParent).find('.zoom-image-item').removeClass('active');
      $(this).find('.zoom-image-item').addClass('active');
    });

    $('.icon-angle-left').click(function() {
      var rootParent = $(this).parents('.root-parent');
      var clickIndex = $('.zoom-image-wrap').find('.active').parent().index();
      if (clickIndex > 0) {
        clickIndex -= 1;
        $(rootParent).find('.modal-slideshow-list .zoom-image-wrap').eq(clickIndex).show().siblings().hide();
        $(rootParent).find('.zoom-image-item').removeClass('active');
        $(rootParent).find('.zoom-image-wrap').eq(clickIndex).find('.zoom-image-item').addClass('active');
      }
    })

    $('.icon-angle-right').click(function() {
      var rootParent = $(this).parents('.root-parent');
      var lengthImages = $('.modal-image-list .zoom-image-wrap').length - 1;
      var clickIndex = $('.zoom-image-wrap').find('.active').parent().index();
      if (clickIndex < lengthImages) {
        clickIndex += 1;
        $(rootParent).find('.modal-slideshow-list .zoom-image-wrap').eq(clickIndex).show().siblings().hide();
        $(rootParent).find('.zoom-image-item').removeClass('active');
        $(rootParent).find('.zoom-image-wrap').eq(clickIndex).find('.zoom-image-item').addClass('active');
      }
    })

