.shipment-bar
  .contact-info.flex-items
    .item-1
      %span= t('transactions.label.contact')
    .item-2
      %span= @shipping_address.email
    .item-3
      - unless @transaction.draft_order?
        = link_to t('transactions.label.change'), checkout_transaction_path(@transaction.uuid_object)
  .shipping-address.flex-items
    .item-1
      %span= t('transactions.label.ship_to')
    .item-2
      %span= @shipping_address.full_address
    .item-3
      - unless @transaction.draft_order?
        = link_to t('transactions.label.change'), checkout_transaction_path(@transaction.uuid_object)
  - if show_methos_row
    .shipping-method.flex-items
      .item-1
        %span Method
      .item-2
        %span= @transaction.shipping_method_label
      .item-3
      - unless @transaction.draft_order?
        = link_to t('transactions.label.change'), shipment_transaction_path(@transaction.uuid_object)