- if user_orders.any?
  - user_orders.each do |transaction|
    .desktop-display
      .row.margin-bt-20
        .col-12
          .order-summary
            .flex-items
              .width-70.padding-15.white-background
                %p= "Shipped #{transaction.shipping_carrier ? transaction.shipping_carrier.upcase : ""} ##{transaction.tracking_number}"
                .flex-items.data-header.padding-5
                  .width-10
                  .width-60
                  .width-30.center-items
                    %span QTY
                - transaction.transaction_items.each do |item|
                  - listing = item.listing
                  - if listing
                    .account-listing-item.br-bottom
                      .flex-items.padding-5.margin-bt-20
                        .width-10.center-items
                          = image_tag listing.main_image, class: "width-100", alt: @current_community.image_alt_text
                        .width-60
                          %p.margin-0.title= link_to listing.title, listing_path(listing)
                          %p.margin-0.sku.uppercase= "SKU: #{listing.sku ? listing.sku : 'OLLC62F'}"
                        .width-30.center-items
                          %p= item.quantity

              .width-30.padding-20
                %span= date_to_humanized(transaction.updated_at)
                %p.margin-bt-15= "Order ##{transaction.order_number}"

                %span Total
                %p.margin-bt-15= money_to_humanized(transaction.stripe_charge_cents)

                .btn-link
                  = link_to order_details_transaction_path(transaction) do
                    %span.fz-18 See Order Details
    .mobile-display
      .row.margin-bt-20
        .col-12
          .order-summary
            .padding-5.white-background
              %p= "Shipped #{transaction.shipping_carrier ? transaction.shipping_carrier.upcase : ""} ##{transaction.tracking_number}"
              .flex-items.data-header.padding-5
                .width-20
                .width-40
                .width-40.center-items
                  %span QTY
              - transaction.transaction_items.each do |item|
                - listing = item.listing
                - if listing
                  .account-listing-item.br-bottom
                    .flex-items.padding-5.margin-bt-20
                      .width-20.center-items.padding-0
                        = image_tag listing.main_image, class: "width-100", alt: @current_community.image_alt_text
                      .width-40
                        %p.margin-0.title.cut-text= link_to listing.title, listing_path(listing)
                        %p.margin-0.sku.uppercase= "SKU: #{listing.sku ? listing.sku : 'OLLC62F'}"
                      .width-40.center-items
                        %p= item.quantity

            .padding-20
              .flex-items
                .width-50
                  %span= date_to_humanized(transaction.updated_at)
                  %p.margin-bt-15= "Order ##{transaction.order_number}"
                .width-50.align-right
                  %span Total
                  %p.margin-bt-15= money_to_humanized(transaction.stripe_charge_cents)
              .center-items
                .btn-link
                  = link_to order_details_transaction_path(transaction) do
                    %span.fz-18 See Order Details
- else
  .row.margin-bt-20
    .col-12
      .order-summary
        .white-background
          .center-items.padding-20
            %span.fz-22 You have no orders