.row
  .col-12.flex-items.margin-b-t-10
    %span.fz-22 My Account
  .row
    .col-12
      .account-header.white-background.padding-20
        %p= @current_user.display_name
        .flex-items
          .common-link-btn.margin-r-15.active
            %span.fz-24= link_to 'My Orders', person_path(@current_user, view: "orders")
          .common-link-btn
            %span.fz-24= link_to 'My Info', person_path(@current_user, view: "info")
  .row
    .col-12
      .account-header.white-background.padding-20
        .flex-items
          .common-link-btn.margin-r-15.active
            %span.fz-16= link_to 'All Orders', person_path(@current_user, sort: 'all')
          .common-link-btn
            %span.fz-16= link_to 'Cancelled Orders', person_path(@current_user, sort: 'cancelled')
  .account-list-orders
    = render partial: "people/orders", locals: {user_orders: @user_orders}
