.other-information
  .wrapper
    .row.center-items
      .col-4
        %p.title= I18n.t("footer.sign_up.title")
        .sign-up-group
          %input.form-control{:placeholder => "Email address", :type => "text", class: "email-address"}
          %button{:type => "button", class: "btn-sign-up"} SIGN UP
        .sign-up-line
          .checkbox
            %input{type: "checkbox", checked: true}
            %span= I18n.t("footer.sign_up.deal_zone_alerts")
            %input{type: "checkbox", checked: true}
            %span= I18n.t("footer.sign_up.weekly_bh_newsletter")
          %p= I18n.t("footer.sign_up.manage_subscriptions")
          %p= I18n.t("footer.sign_up.sample_newsletter")