.contact-us.text-center
  .wrapper
    .row.center-items
      .col-4.sale_expert_advice
        %p.title= I18n.t("homepage.contact.sale_and_expert_advice.title")
        %p.phone_number= I18n.t("homepage.contact.sale_and_expert_advice.phone_number")
        %span= "or"
        %span.second_phone_number= I18n.t("homepage.contact.sale_and_expert_advice.second_phone_number")
      .col-4.contact-mail
        %i.icon-envelope-alt
        %span= I18n.t("homepage.contact.contact_us")
      .col-4.customer_service
        %p.title= I18n.t("homepage.contact.customer_service.title")
        %p.phone_number= I18n.t("homepage.contact.customer_service.phone_number")
        %span= "or"
        %span.second_phone_number= I18n.t("homepage.contact.customer_service.second_phone_number")