- if section.enabled?
  - styles = { background: section.background_color, text_color: section.text_color}

  .contact-us.text-center{style: "background-color: #{styles[:background]};"}
    .wrapper
      .row.center-items.display-flex
        - section.store_footer_items.each do |item|
          .flex-item.sale_expert_advice
            - if item.heading
              %p.title{style: "font-size: 24px; font-weight: bolder;"}= item.heading
            - if item.language?
              %select.select-language
                - item.languages.each do |i|
                  %option{value: "#{i[:value]}"}= i[:label]
            - elsif item.currency?
              %select.select-currency
                - item.currency.each do |i|
                  %option{value: "#{i[:value]}"}= i[:label]
            - else
              %p.phone_number{style: "color: #{styles[:text_color]};"}= item.sub_heading
              %span.second_phone_number= item.text.html_safe
          