.row.copyright.text-center
  .wrapper
    .col-4.company-privacy
      %p= I18n.t("footer.company")
      %a= I18n.t("footer.privacy_security")
      %a= I18n.t("footer.user_agreement")
      %a= I18n.t("footer.policy")
      %a= I18n.t("footer.california_policy")
    .col-2.work-time
      %p= I18n.t("footer.closing_time")
      %p= I18n.t("footer.weekend_hours")
    .col-6.product-notice
      %p= I18n.t("footer.product_notice")
