.desktop-display
  = render partial: "shares/contact"
  = render partial: "homepage/movri_infomation"
  = render partial: "shares/helpful_links"
  = render partial: "shares/benefit"
  = render partial: "shares/security_social_media"
  = render partial: "shares/copyright"
.mobile-display
  = render partial: "shares/mobile_footer"