.mobile-footer.d-none
  .mobile-infomation
    .col-12.contact-information.br-bottom.padding-bt-12
      %h3= "Contact Infomation"
      %p= "Unit 210-19365, 22nd Avenue, Surrey, BC V3Z3S6, Canada"
      .col-12
        %p
          = image_tag("mf_icons/icon-movri-phone.svg", class: 'header-mobile-phone-icon header-menu-icon hidden-desktop')
          = "+1-778-554-1018"
        %p
          = image_tag("mf_icons/icon-movri-phone.svg", class: 'header-mobile-phone-icon header-menu-icon hidden-desktop')
          = "+1-604-385-0370"
        %p
          .icon-envelope.left-navi-link-icon
          = "sales@movri.ca"
    .col-12.information.br-bottom.padding-bt-12
      %span.bold.fz-16= "Information"
      .icon-chevron-down.float-right
    .col-12.customer-service.br-bottom.padding-bt-12
      %span.bold.fz-16= "Customer Service"
      .icon-chevron-down.float-right
    .col-12.subscribe.br-bottom.padding-bt-12
      %h3= "Subscribe"
      %p= "Sign Up to receive product updates and special offers"
      = text_field_tag :email, '', placeholder: "Email address", class: "width-70"
      .button.width-20.dp-inline= "Submit"
    .col-12.follow-us.padding-bt-12
      .col-6
        %h3= "Follow us"
        .icon-facebook-sign.margin-r-5
        .icon-instagram.margin-r-5
        .icon-envelope
      .col-6
        %span= "Copyright © 2020 MOVRI"