.security-social-media
  .wrapper
    .row
      .col-12
        .img
          = image_tag("homepage_icons/mcafee.png")
        .img
          = image_tag("homepage_icons/norton.png")
        .img
          = image_tag("homepage_icons/bbb.png")
        .img
          = image_tag("homepage_icons/bhapp.png")
        .img
          = image_tag("homepage_icons/bhmobile.png")
        .img
          = image_tag("homepage_icons/youtube.png")
        .img
          = image_tag("homepage_icons/pinterest.png")
        .img
          = image_tag("homepage_icons/instagram.png")
        .img
          = image_tag("homepage_icons/twiiter.png")
        .img
          = image_tag("homepage_icons/facebook.png")
