.common-box
  .header-title
    %p.fz-22 Customer infomation
  .row
    .col-9
      .row
        .col-12.common-br.padding-15.address-info-summary
          .row
            .display-flex
              .width-50
                %span.label-title Contact Information
                %p.margin-bt-20= "#{@shipping_address.email}"
                %span.label-title Shipping Address
                %span= @shipping_address.fullname
                %span= @shipping_address.street1
                %span= "#{@shipping_address.city} #{CANADA_PROVINCES.key(@shipping_address.state_or_province)} #{@shipping_address.postal_code},"
                %span Canada
                %span.phone-input.margin-bt-20= @shipping_address.format_phone
                %span.label-title Shipping method
                - if @transaction.will_pickup?
                  %span Free
                - else
                  %span= @transaction.shipper.service_name
              .width-50
                %span.label-title Billing Address
                %span= @billing_address.fullname
                %span= @billing_address.street1
                %span= "#{@billing_address.city} #{CANADA_PROVINCES.key(@billing_address.state_or_province)} #{@billing_address.postal_code},"
                %span Canada
                %span.phone-input= @shipping_address.format_phone
      .row
        .flex-items
          .helping.width-50
            %span Need help?
            %span.fake-link.contact-us-link Contact us
          .btn-group.width-50.align-right
            .common-link-btn
              = link_to t('transactions.btn_label.continue_shopping'), homepage_with_locale_path

  .helping-request-partial
    = render partial: "transactions/thank_you_process/helping_request"
