- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.p-3.assurance-options-index
  %h2 URL Redirects

  .row.p-0.m-0.display-flex.align-items-center
    .col-9.row.p-0.m-0
    .col-3.p-0.m-0.display-flex.justify-content-end
      .btn-link
        = link_to new_admin_community_redirect_url_path(@current_community) do
          %span Create URL Redirect
  .assurance-options-lists
    .head-section.p-2
      .tabs.display-flex
        .tab-item.tab-active All
      .filters.m-2.mt-4.mb-4
        %input{type: :text, class: "form-control", placeholder: "Search redirects"}
    .body-section.p-1
      %table
        %thead
          %tr.row.p-0.m-0
            %th.col-6
            %th.col-5
            %th.col-1
        %tbody
          - @redirect_urls.order(created_at: :desc).each do |redirect_url|
            = render 'item', redirect_url: redirect_url
