- content_for :javascript do
  ST.initializeCommunityCustomizations();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.edit_details.community_details")

= render partial: 'layouts/onboarding_popup_wrapper'
= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.edit_details.edit_community", :community_name => @current_community.name(I18n.locale))
  = form_tag admin_details_path, method: :patch, id: "edit_community" do |form|

    = render partial: "locale_selection",    locals: locale_selection_locals
    = render partial: "locale_input_fields", locals: community_name_locals
    = render partial: "locale_input_fields", locals: community_slogan_locals
    = render partial: "locale_input_fields", locals: community_description_locals
    = render partial: "locale_input_fields", locals: community_search_placeholder_locals

    .row
      .col-12
        .input-header
          = t("admin.communities.edit_details.terms_privacy_policy_and_static_content")
        - info_text = t("admin.communities.edit_details.terms_privacy_policy_and_static_content_infotext")
        = render :partial => "layouts/info_text", :locals => { :text => info_text.html_safe }

      %table
        %tbody
          %tr
            %td
              = link_to t('layouts.infos.about'), about_infos_path
            %td
              = link_to "/editor#{about_infos_path}" do
                = icon_tag("edit", ["icon-fix"])
          %tr
            %td
              = link_to t('layouts.infos.how_to_use'), how_to_use_infos_path
            %td
              = link_to "/editor#{how_to_use_infos_path}" do
                = icon_tag("edit", ["icon-fix"])
          %tr
            %td
              = link_to t('layouts.infos.register_details'), privacy_infos_path
            %td
              = link_to "/editor#{privacy_infos_path}" do
                = icon_tag("edit", ["icon-fix"])
          %tr
            %td
              = link_to t('layouts.infos.terms'), terms_infos_path
            %td
              = link_to "/editor#{terms_infos_path}" do
                = icon_tag("edit", ["icon-fix"])

    - if @show_transaction_agreement
      .row
        .col-12
          = label_tag "transaction_label", t("admin.communities.edit_details.transaction_agreement"), class: "input"
          = check_box_tag "community[transaction_agreement_checkbox]", @current_community.transaction_agreement_in_use?, @current_community.transaction_agreement_in_use?, class: "checkbox-row-checkbox"
          = label_tag "community[transaction_agreement_checkbox]", t("admin.communities.edit_details.transaction_agreement_checkbox"), class:"checkbox-row-label"

      = render partial: "locale_input_fields", locals: transaction_agreement_label_locals
      = render partial: "locale_input_textarea", locals: transaction_agreement_text_locals

    .row
      .col-6
        %label Global Blocked Dates:
        %input#global-blocked-dates.form-control{:type => "text", autocomplete: "off"}
        %table#global-blocked-dates-table{:style => "margin-top: 10px;"}
          - if @current_community.global_blocked_dates
            - @current_community.global_blocked_dates.split(",").each do |date|
              %tr.global-blocked-date-row
                %td.global-blocked-date-item
                  = date
                %td.global-blocked-date-delete-icon{:style => "text-align: right;"}
                  %i.icon-remove{:style => "cursor: pointer;"}

      = hidden_field_tag :global_blocked_dates_str, @current_community.global_blocked_dates.to_s

    .row
      .col-12
        = button_tag t("admin.communities.edit_details.save")


= render :partial => "people/help_texts", :collection => ["invite_only_help_text"], :as => :field

- content_for :extra_javascript do
  :javascript
    ST.ListingTags.initTagsForEditListing();
    ST.BlockedDates.addBlockedDates();
    $(document).ready(function(){
      $('#global-blocked-dates').datepicker({
        todayHighlight: true,
        autoclose: true,
        clearBtn: true,
        startDate: new Date(),
        format: 'dd/mm/yyyy'
      });

      $("#global-blocked-dates").on("change", function () {
        console.log("value:", $("#global-blocked-dates").val());
        var dateSelected = $("#global-blocked-dates").val().trim();
        var strListDates = $("#global_blocked_dates_str").val().trim();

        if (strListDates.includes(dateSelected) == false) {
          var newStrListDates = '';

          if (strListDates.length) {
            newStrListDates = strListDates + ',' + dateSelected;
          } else {
            newStrListDates = dateSelected;
          }

          var rowTable = "<tr class='global-blocked-date-row'>"
                        + "<td class='global-blocked-date-item'>"
                        + $("#global-blocked-dates").val()
                        + "</td>"
                        + "<td class='global-blocked-date-delete-icon' style='text-align: right;'>"
                        + "<i class='icon-remove' style='cursor: pointer;'></i>"
                        + "</td>"
                        + "</tr>";

          $("#global-blocked-dates-table").append(rowTable);

          var listBlockedDates = getGlobalBlockedDates();
          $("#global_blocked_dates_str").val(listBlockedDates);
        }
      });

      $("#global-blocked-dates-table").on("click", '.global-blocked-date-delete-icon', function() {
        $(this).closest('tr.global-blocked-date-row').remove();
        $("#global_blocked_dates_str").val(getGlobalBlockedDates());
      });

      function getGlobalBlockedDates () {
        var listBlockedDates = "";

        $('#global-blocked-dates-table .global-blocked-date-row').each(function() {
          var date = $(this).find(".global-blocked-date-item").html().trim();

          if (listBlockedDates.length) {
            listBlockedDates = listBlockedDates + "," + date;
          } else {
            listBlockedDates = date;
          }
        });

        return listBlockedDates.trim();
      }
    });
