.mobile-listing-order.padding-15
  .row.listing-price
    .col-6.clearfix
      %span.amount.font-open-sans.main-listing-price
        - number_price = Money.new(PriceCalculationService.calculate(@listing, ListingViewUtils.get_booking_days(session)), 'USD')
        = MoneyViewUtils.to_humanized(number_price)
        -# = MoneyViewUtils.to_humanized(@listing.price)
      -# - with_quantity_text(@current_community, @listing) do |text|
      -#   %span.time-rent
      -#     \/
      -#     = text
      %span.time-rent.font-open-sans
        \/
        = ListingViewUtils.get_time_rent(session)
    .col-6.clearfix.listing-replacement-value
      %span.font-open-sans
        Replacement Value :
      %span.amount.font-open-sans
        = money_to_humanized(@listing.replacement_cents_fee)
  = form_tag @listing_presenter.form_path, :method => :get, :id => "booking-dates" do
    .row.listing-shipping-date.arrival-date#datepicker{:data => {:locale => I18n.locale, :dateformat => t("datepicker.format")}}
      - if @listing_presenter.quantity_per_day_or_night?
        - blocked_dates = @listing_presenter.blocked_dates_result[1].to_a
        - if blocked_dates.any?
          -# Merge manually blocked dates (via admin) with blocked dates automatic (via website booking)
          - all_blocked_dates = ManuallyBlockedDatesService.get_all_blocked_dates(@current_community, @listing, 1.day )
          - blocked_dates.concat(all_blocked_dates)
          - content_for :extra_javascript do
            :javascript
              window.ST.FromToDatePicker.setupPerDayOrNight(#{raw @listing_presenter.datepicker_per_day_or_night_setup(blocked_dates).to_json}, #{raw session[:booking] ? session[:booking][:start_date].to_json : ''}, ".input-arrival-date-mobile", ".input-return-date-mobile");
          .col-6.clearfix.arrival-date
            .form-group
              %label{for: 'arrival-date'} Arrival Date
              %input#arrival-date.form-control.required.input-arrival-date-mobile{value: session[:booking] ? session[:booking][:start_date] : '', type: "arrival-date", :data => { :output => "booking-start-output" }}
              = image_tag("mf_icons/icon-movri-calendar.svg", class: 'header-menu-icon icon-arrival-date-calendar')
          .col-6.clearfix.return-date
            .form-group
              %label{for: "return-date"} Return Date
              %input#return-date.form-control.required.input-return-date-mobile{value: session[:booking] ? session[:booking][:end_date] : '',type: "return-date",  :data => { :output => "booking-end-output" }}
              = image_tag("mf_icons/icon-movri-calendar.svg", class: 'header-menu-icon icon-return-date-calendar')
        - @listing_presenter.blocked_dates_result.on_error do
          = t("listings.listing_actions.unable_load_availability")
    .row.listing-order-quantity
      .col-6.row
        .col-5.quantity
          = text_field_tag :number, 1, type: 'number', class: 'order-quantity-number-field', id: 'quantity-number-mobile'
          %i.icon-caret-up#quantity-up-mobile
          %i.icon-caret-down#quantity-down-mobile
        .col-7.add-wish-list
          .wish-list-btn{'data-id': @listing.id}
            %span Wish List
      .col-6.listing-shipping-info
        .clearfix.shipping-rates.flex-items
          %span.mobile-show-shipping-rates-modal{'data-toggle': 'modal', 'data-target': "#mobile-shipping-rates-realtime-modal"}
            Shipping Rates
          %span.mobile-show-pricing-chart-modal{'data-toggle': 'modal', 'data-target': "#mobile-pricing-chart-modal"}
            Pricing Chart
  .row
    .col-12.rent-container
      - if @listing_presenter.quantity_per_day_or_night?
        - @listing_presenter.blocked_dates_result.on_success do
          %button.rent-btn.content.add-item-to-cart{:id => "view-cart-desktop-#{@listing.id}"}
            Rent Now

        - @listing_presenter.blocked_dates_result.on_error do
          %button.disabled-book-button{disabled: true}
            Rent Now

      - else
        %button.disabled-book-button{disabled: true}
          .content
            Rent Now

.padding-15.in-stock
  .in-stock-label
    In Stock

= render partial: "listings/mobile_designs/shipping_rates_realtime", locals: { listing: @listing }
= render partial: "listings/mobile_designs/pricing_chart", locals: { listing: @listing }
= render partial: "listings/mobile_designs/view_cart", locals: { listing: @listing }

-# - content_for :extra_javascript do
-#   :javascript
-#     ST.ListingTags.initTagsForEditListing();
-#     ST.BlockedDates.addBlockedDates();
-#     $(document).ready(function(){
-#       $('#end-on').datepicker({
-#         todayHighlight: true,
-#         autoclose: true,
-#         clearBtn: true,
-#         startDate: new Date(),
-#         format: 'mm/dd/yyyy',
-#         daysOfWeekDisabled: [0]
-#       });
-#     });
