%tr.row.p-0.m-0.customers-row
  %td
    = link_to customer.fullname, admin_community_customer_path(@current_community, customer.id)
  %td
    = customer.get_email
  %td
    = "#{customer.completed_orders.count} order(s) - #{number_to_currency(customer.total_spent)} spent"
  %td
    .center-items
      %i.fa.fa-times
      -# # = link_to admin_community_customer_path(@current_community, customer.id), method: :delete, data: {confirm: "Are you sure?"}, remote: true do