- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.p-3.assurance-options-index
  %h2 Customers

  .row.p-0.m-0.display-flex.align-items-center
    .col-9.row.p-0.m-0
    .col-3.p-0.m-0.display-flex.justify-content-end
      .btn-link
        = link_to new_admin_community_customer_path(@current_community) do
          %span Add customers
  .assurance-options-lists
    .head-section.p-2
      = form_tag '', :method => :get do
        .row
          .col-10
            = text_field_tag :q, params[:q], placeholder: 'Filter customers'
          .col-2
            = submit_tag 'Search', class: 'button search-button'

    .body-section.p-1
      %table
        %thead
          %tr
            %th Customer Name
            %th Email
            %th Total Spent
            %th
              .center-items Actions
        %tbody
          - @service.customers.each do |customer|
            = render 'customer', customer: customer

  .row
    .col-12
      = will_paginate @service.customers