#pricing-chart-modal.modal
  .modal-content
    .modal-header
      %span.close ×
      .title
        #shipping-rates-title
          %b Pricing Chart
    .modal-body.clearfix
      .desktop-display.root-parent
        .descriptions
          = @current_community.pricing_chart_content
        / %br
        / .group-options-coverage
        /   .row
        /     %form
        /       %label
        /         %input{:checked => "checked", :name => "coverage", :type => "radio", :value => "no-coverage"}/
        /         No Coverage
        /       %label
        /         %input{:name => "coverage", :type => "radio", :value => "movri-coverage"}/
        /         Movri Coverage
    .rental-price-with-no-insurance
      .modal-list-shipping
        %table#pricing-charts-table
          %tr
            %th Rental Period
            %th Rental Price
            %th Price Per day (Approx)
          - listing.pricing_charts.each do |elm|
            %tr
              %td.days
                =elm.period
                days
              %td
                - number_price = Money.new(PriceCalculationService.calculate(listing, elm.period), 'USD')
                = MoneyViewUtils.to_humanized(number_price)
              %td
                - average_price = (number_price/elm.period).round(2)
                = MoneyViewUtils.to_humanized(average_price)

    .rental-price-with-insurance.hidden
      .modal-list-shipping
        %table#pricing-charts-table
          %tr
            %th Rental Period
            %th Rental Price
            %th Price Per day (Approx)
          - listing.pricing_charts.each do |elm|
            %tr
              %td.days
                =elm.period
                days
              %td
                - coverage = InsuranceCalculationService.call(listing, elm.period)
                - number_price_with_coverage = Money.new(PriceCalculationService.calculate(listing, elm.period) + coverage, 'USD')
                = MoneyViewUtils.to_humanized(number_price_with_coverage)
              %td
                - average_price = (number_price_with_coverage/elm.period).round(2)
                = MoneyViewUtils.to_humanized(average_price)