.row
  .recommended-accessories-container.col-12.clearfix
    .recommended-accessories-title
      Accessories
      -# .recommended-accessories-view-all
      -#   %a{href: '#'}
      -#     View All >
    .recommended-accessories-list
      - @listing.listing_accessories.order(:position).limit(8).each do |listing_accessory|
        .row.col-3.recommended-accessories-item
          .mobile-recommended-accessories
            .col-4
              = link_to listing_path("#{listing_accessory.id}-#{listing_accessory.title.to_url}") do
                - if listing_accessory.main_image != nil
                  = image_tag listing_accessory.main_image, class: 'img-responsive'
                - else
                  %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
            .col-8
              .recommended-accessories-listing-title
                = link_to listing_accessory.title, listing_path(listing_accessory)
              .recommended-accessories-listing-price
                - number_price = Money.new(PriceCalculationService.calculate(listing_accessory, ListingViewUtils.get_booking_days(session)), 'USD')
                = MoneyViewUtils.to_humanized(number_price)
                %span
                  \/
                  = ListingViewUtils.get_time_rent(session)
                -# = MoneyViewUtils.to_humanized(listing_accessory.price)
              %button.recommended-accessories-add-to-cart
                = link_to "Rent now", listing_path(listing_accessory)