.row.listing-specifications#specification-bar
  %div.clearfix.specification-list
    %ul.nav.nav-pills.listing-categories-detail.clearfix.col-12
      %li.active
        %a.uppercase.tab-link{'data-tab' => 'spec_tab'}= @listing.specs_tab.title
      %li
        %a.uppercase.tab-link{'data-tab' => 'overview_tab'}=@listing.overview_tab.title
      %li
        %a.uppercase.tab-link{'data-tab' => 'qa_tab'}=@listing.q_and_a_tab.title
      %li
        %a.tab-link{'data-tab' => 'compare_tab'} QUICK COMPARE
      %li
        %a.tab-link{'data-tab' => 'accessories_tab'} ACCESSORIES
      %li
        %a.tab-link{'data-tab' => 'compatibility_tab'} COMPATIBILITY

.row
  .listing-specifications.col-9#specification-tabs
    = render partial: 'listings/listing_details'

  .include-in-the-box.col-3
    .col-12
      = render partial: 'listings/include_in_the_box'

      .listing-user-manual
        = link_to @listing.user_manual.url(:original), {target: "_blank"} do
          %span.user-manual-file-icon
            = image_tag("mf_icons/icon-movri-file.svg", class: 'header-menu-icon icon-movri-file')
          %span.user-manual-title
            User Manual
          %span.user-manual-file-size
            15.6 MB