- show_remove_icon = el =  'hide'
.tab-content#accessories_tab
  .row
    .tab-title
      %p Accessories
  - @listing.listing_accessories.each_slice(4).to_a.each do |group_listing|
    .row
      - group_listing.each do |listing|
        .col-3
          .slide-item-container
            .slide-item
              - if listing.main_image != nil
                = image_tag listing.main_image, class: 'img-responsive'
              - else
                %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
              .slide-item-detail
                %p.slide-item-title
                  = listing.title
                .listing-price
                  %span.amount
                    - number_price = Money.new(PriceCalculationService.calculate(listing, ListingViewUtils.get_booking_days(session)), 'USD')
                    = MoneyViewUtils.to_humanized(number_price)
                    \/
                    = ListingViewUtils.get_time_rent(session)
                    -# = MoneyViewUtils.to_humanized(listing.price)
                .row.last-row
                  .col-12
                    %button.rent-now-btn.add-item-to-cart{:id => "accessories-desktop-#{listing.id}"}
                      Rent Now