- session[:cart].each do |key, value|
  - listing = Listing.find_by(id: key)
  - coverage_type = (session[:coverage] && session[:coverage][key]) ? session[:coverage][key] : 'movri_coverage'
  .row.mobile-listing-info.unique-listing-sku{id: "listing-info-#{listing.id}", 'data-sku': "#{listing.id}"}
    .display-flex
      .width-30.flex-items
        = image_tag listing.main_image, alt: '', height: 'auto', width: '80', class: 'img-responsive-cart'
      .width-70.mobile-listing-info-wrap
        %span.title
          = listing.title
        .sku-quantity
          .sku{float: 'left'}
            SKU:
            = listing.sku.present? ? listing.sku.upcase : "CAE5D3"
          .quantity
            %span Qty:
            - element_id = "cart_detail_item_quantity-" + listing.id.to_s
            = select_tag element_id.to_sym, options_for_select((1..10).to_a.map(&:to_s), selected: value), class: 'custom-select-number mobile-number-item-in-cart-detail'
        .coverage.flex-items.margin-bt-10
          .coverage-selection.width-50.padding-0
            = select_tag :select_coverage, options_for_select(COVERAGE_OPTIONS, selected: coverage_type), class: 'custom-select'
          .price-coverage.align-right.width-50.fz-12
            - price_cents = calculate_price_cents(listing, session[:cart][listing.id.to_s], promo_code)
            - readable_price = MoneyViewUtils.to_humanized(Money.new(price_cents, 'USD'))
            .price
              %span Price:
              %span= readable_price
            .coverage-price
              %span Coverage:
              - if coverage_type == "no_coverage"
                %span $0
              - else
                %span= MoneyViewUtils.to_humanized(Money.new(total_coverage(listing, value), 'USD'))
    .listting-action
      %i.icon-shopping-cart.icon-move-to-wish-list{'data-id': listing.id}
        %span Move to wish list
      %i.icon-remove-sign.remove-item-in-cart-detail{id: "remove-item-in-cart-#{listing.id}"}
      %span.remove-item-in-cart-detail{id: "remove-item-in-cart-#{listing.id}"}
        Remove
