.row
  .col-2
    = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
  .col-10
    .col-12.form-listing-title
      %span
        = @listing.title
    .col-12.form-input-wrap
      = form_for @listing_presenter.listing_form_object, :html => {:multipart => true} do |form|
        .row
          .col-8.form-listing-group
            = render :partial => "listings/form/javascripts", :locals => { listing_id: @listing.id || "false", minimum_price_cents: @listing_presenter.commission[:minimum_price_cents], run_js_immediately: run_js_immediately, shape: shape}
            .col-12.form-listing-wrap
              = render :partial => "listings/form/title", :locals => { :form => form }
              = render :partial => "listings/form/spec", :locals => { :form => form }
              = render :partial => "listings/form/overview", :locals => { :form => form }
              = render :partial => "listings/form/q_a", :locals => { :form => form }
              = render :partial => "listings/form/in_the_box", :locals => { :form => form }
              = render :partial => "listings/form/not_in_the_box", :locals => { :form => form }
            .col-12.form-listing-wrap
              = render :partial => "listings/form/images", :locals => { :form => form, :run_js_immediately => run_js_immediately }
              = hidden_field_tag 'listing_ordered_images'
              = render :partial => "listings/form/video", :locals => { :form => form }
              = render :partial => "listings/form/key_features", :locals => { :form => form }
            .col-12.form-listing-wrap
              = render :partial => "listings/form/price", :locals => { :form => form, :run_js_immediately => run_js_immediately }
              = render :partial => "listings/form/quantity", :locals => { :form => form }
              = render :partial => "listings/form/replacement_cents_fee", :locals => { :form => form }
            .col-12.form-listing-wrap
              = render :partial => "listings/form/inventory", :locals => { :form => form }
              = render :partial => "listings/form/weight", :locals => { :form => form }
              = render :partial => "listings/form/user_manual_file", :locals => { :form => form }
            .col-12.form-listing-wrap
              -# = render :partial => "listings/form/shipping", :locals => { :form => form }
              = render :partial => "listings/form/customs_info", :locals => { :form => form }
              -# = render :partial => "listings/form/description", :locals => { :form => form }
              = render :partial => "listings/form/custom_fields", :locals => { :form => form }
              = render :partial => "listings/form/valid_until", :locals => { :form => form }
              = render :partial => "listings/form/origin", :locals => { :form => form }
              = render :partial => "listings/form/googlemap", :locals => { :form => form, :run_js_immediately => run_js_immediately}
              = render :partial => "listings/form/send_button", :locals => { :form => form, :listing => @listing }

            = render :partial => "listings/help_texts", :collection => ["help_valid_until"], :as => :field
            = render "layouts/markdown_help", run_js_immediately: run_js_immediately
          .col-4.form-listing-related
            .col-12.form-listing-wrap
              .form-organization
                = form.label 'Organization', class: 'input'
                = form.label :product_type, 'Product Type'
                = form.select :product_type, options_for_select(["New", "Old"]), class: 'listing_product_type'
              .form-collections
                = form.label 'COLLECTIONS', class: 'input'
                = form.select :category_ids, options_for_select(Category.all.collect {|cat| [cat.display_name(I18n.locale), cat.id]}, @listing.categories.ids), {}, {class: 'listing_collection', multiple: true, value: @listing.category_listings.pluck(:category_id)}
              -# .form-tags.margin-bt-20
              -#   = form.label 'TAGS', class: 'input'
              -#   = form.hidden_field :tags
              -#   %ul#list_tags_selected
              -#     -if @listing.tags
              -#       - @listing.tags.split(',').each do |tag|
              -#         %li
              -#           = tag

              = form.label 'Accessories', class: 'input'
              .form-brands.margin-bt-20
                = form.label 'ITEM TYPE', class: 'input'
                = select_tag 'listing_accessory[item_type]', options_for_select(ITEM_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.item_type : ""), {prompt: "Select", class: 'width-100'}

              .form-brands.margin-bt-20
                = form.label 'BRAND', class: 'input'
                = select_tag 'listing_accessory[brand]', options_for_select(BRAND.sort, @listing.listing_accessory ? @listing.listing_accessory.brand : ""), {prompt: "Select", class: 'width-100 '}


              #filter_types
                .d-none.form-brands.margin-bt-20.accessories-list.lens
                  = form.label 'LENS TYPE', class: 'input'
                  = select_tag 'listing_accessory[lens_type]', options_for_select(LENS_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.lens_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.lens.camera.lighting.accessory.flashes
                  = form.label 'MOUNT', class: 'input'
                  = select_tag 'listing_accessory[mount]', options_for_select(MOUNT.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.mount : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.lens
                  = form.label 'COMPATIBILITY', class: 'input'
                  = select_tag 'listing_accessory[compatibility]', options_for_select(COMPATIBILITY.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.compatibility : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.camera.camera_support
                  = form.label 'CAMERA TYPE', class: 'input'
                  = select_tag 'listing_accessory[camera_type]', options_for_select(CAMERA_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.camera_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.camera.camera_support
                  = form.label 'CAMCORDER TYPE', class: 'input'
                  = select_tag 'listing_accessory[camcorder_type]', options_for_select(CAMCORDER_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.camcorder_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.camera
                  = form.label 'SENSOR SIZE', class: 'input'
                  = select_tag 'listing_accessory[sensor_size]', options_for_select(SENSOR_SIZE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.sensor_size : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.camera.camera_support
                  = form.label 'ACTION CAM COMPATIBILITY', class: 'input'
                  = select_tag 'listing_accessory[action_cam_compatibility]', options_for_select(ACTION_CAM_COMPATIBILITY.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.action_cam_compatibility : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.lighting.flashes
                  = form.label 'LIGHTING TYPE', class: 'input'
                  = select_tag 'listing_accessory[lighting_type]', options_for_select(LIGHTING_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.lighting_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.lighting.accessory.camera_support.tripods.flashes
                  = form.label 'ACCESSORY_TYPE', class: 'input'
                  = select_tag 'listing_accessory[accessory_type]', options_for_select(ACCESSORY_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.accessory_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.memory
                  = form.label 'CAPACITY', class: 'input'
                  = select_tag 'listing_accessory[capacity]', options_for_select(CAPACITY.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.capacity : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.memory
                  = form.label 'MEMORY TYPE', class: 'input'
                  = select_tag 'listing_accessory[memory_type]', options_for_select(MEMORY_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.memory_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.memory
                  = form.label "READ TRANSFER SPEED", class: 'input'
                  = select_tag 'listing_accessory[read_transfer_speed]', options_for_select(READ_TRANSFER_SPEED.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.read_transfer_speed : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.memory
                  = form.label 'BUS SPEED', class: 'input'
                  = select_tag 'listing_accessory[bus_speed]', options_for_select(BUS_SPEED.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.bus_speed : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.power
                  = form.label 'POWER COMPATIBILITY', class: 'input'
                  = select_tag 'listing_accessory[power_compatibility]', options_for_select(POWER_COMPATIBILITY.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.power_compatibility : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.power
                  = form.label 'POWER TYPE', class: 'input'
                  = select_tag 'listing_accessory[power_type]', options_for_select(POWER_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.power_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.camera_support.tripods.accessory
                  = form.label 'SUPPORT TYPE', class: 'input'
                  = select_tag 'listing_accessory[support_type]', options_for_select(SUPPORT_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.support_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.tripods
                  = form.label 'HEAD TYPE', class: 'input'
                  = select_tag 'listing_accessory[head_type]', options_for_select(HEAD_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.head_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.tripods
                  = form.label 'QUICK RELEASE SYSTEM', class: 'input'
                  = select_tag 'listing_accessory[quick_release_system]', options_for_select(QUICK_RELEASE_SYSTEM.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.quick_release_system : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.lighting
                  = form.label 'COLOR TEMPERATURE', class: 'input'
                  = select_tag 'listing_accessory[color_temperature]', options_for_select(COLOR_TEMPERATURE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.color_temperature : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.accessory
                  = form.label 'FILTER SIZE', class: 'input'
                  = select_tag 'listing_accessory[filter_size]', options_for_select(FILTER_SIZE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.filter_size : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.accessory.camera_support
                  = form.label 'FILTER STYLE', class: 'input'
                  = select_tag 'listing_accessory[filter_style]', options_for_select(FILTER_STYLE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.filter_style : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.accessory
                  = form.label 'FILTER TYPE', class: 'input'
                  = select_tag 'listing_accessory[filter_type]', options_for_select(FILTER_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.filter_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.audio
                  = form.label 'AUDIO TYPE', class: 'input'
                  = select_tag 'listing_accessory[audio_type]', options_for_select(AUDIO_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.audio_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.monitoring.switcher
                  = form.label 'MONITORING TYPE', class: 'input'
                  = select_tag 'listing_accessory[monitoring_type]', options_for_select(MONITORING_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.monitoring_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.accessory.camera_support
                  = form.label 'CAMERA SUPPORT TYPE', class: 'input'
                  = select_tag 'listing_accessory[camera_support_type]', options_for_select(CAMERA_SUPPORT_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.camera_support_type : ""), {prompt: "Select", class: 'width-100'}

                .d-none.accessories-list.form-brands.margin-bt-20.accessory
                  = form.label 'CABLE TYPE', class: 'input'
                  = select_tag 'listing_accessory[cable_type]', options_for_select(CABLE_TYPE.sort, selected: @listing.listing_accessory ? @listing.listing_accessory.cable_type : ""), {prompt: "Select", class: 'width-100'}


            .col-12.form-listing-wrap.form-recommended-accessories
              = render partial: 'listings/form/recommended_accessories', :locals => { :form => form }
            .col-12.form-listing-wrap.form-packing-dimension
              = render partial: 'listings/form/packing_dimension', :locals => { :form => form }
            .col-12.form-listing-wrap.form-blocked-dates
              = render partial: 'listings/form/blocked_dates', :locals => { :form => form }
            -# .col-12.form-listing-wrap.form-pricing-dates
            -#   = render partial: 'listings/form/pricing_charts', :locals => { :form => form }

- content_for :extra_javascript do
  :javascript
    ST.ListingTags.initTagsForEditListing();
    ST.ListingTags.handleChangeItemType();
    ST.ListingTags.handleLoadItemType();
    ST.BlockedDates.addBlockedDates();
    $(document).ready(function(){
      $('#start-date-blocked').datepicker({
        todayHighlight: true,
        autoclose: true,
        clearBtn: true,
        startDate: new Date(),
        format: 'yyyy/mm/dd'
      });

      $('#end-date-blocked').datepicker({
        todayHighlight: true,
        autoclose: true,
        clearBtn: true,
        startDate: new Date(),
        format: 'yyyy/mm/dd'
      });
    });
