.modal#view-inventory-history-modal
  .row.title.margin-bt-0
    = "Inventory history"
  %table
    %thead
      %tr.row.p-0.m-0
        %th.col-2.p-0.pt-2.pb-2.pl-1
          Date
        %th.col-2.p-0.pt-2.pb-2
          Event
        %th.col-4.p-0.pt-2.pb-2
          Adjusted by
        %th.col-2.p-0.pt-2.pb-2.text-right.pr-1
          Adjustment
        %th.col-2.p-0.pt-2.pb-2.text-right.pr-1
          Quantity
    %tbody
      - versions.each do |ver|
        - data = get_invertory_history_data(ver)
        - if data
          %tr.row.p-0.m-0
            %td.col-2.p-0.pt-2.pb-2.pl-1
              = data[:date]
            %td.col-2.p-0.pt-2.pb-2
              = data[:event]
            %td.col-4.p-0.pt-2.pb-2
              = data[:adjusted_by]
            %td.col-2.p-0.pt-2.pb-2.text-right.pr-1{class: data[:action]}
              = "#{data[:adjustment] >= 0 ? '+' + data[:adjustment].to_s : data[:adjustment]}"
            %td.col-2.p-0.pt-2.pb-2.text-right.pr-1
              = ver.changeset[:available_quantity][1]
           

    
