- tab = @listing.key_features_tab || ListingTab.new(title: 'key feature',  tab_type: "key_features")
.tab-section
  = form.fields_for :tabs do |form2|
    = form2.fields_for tab.tab_type, tab do |attr|
      .flex-items.tab-header
        .width-85.flex-items.padding-0
          %span.uppercase.tab-title= tab.title.split("_").join(" ")
          = attr.text_field :title, class: "title-tab-input hidden"
          %span.edit-tilte-tab
            %i.fa.fa-pencil-square-o
        .width-15.padding-0.align-right
          = attr.select :is_active, options_for_select({On: 1, Off: 0}, selected: tab.is_active ? 1 : 0)
      = attr.cktext_area :description, :maxlength => "5000"
-# = form.label :key_feature, 'Key Features', :class => "input"
-# = form.cktext_area(:key_feature, :maxlength => "5000", :class => "listing_key_features_textarea")
