.display-flex.align-items-center.justify-content-between.row.p-0.m-0
  .col-9.p-0
    = form.label 'Quantity', 'Quantity', {class: 'input'}
  .col-3.p-0
    .collapsible.collapsed.display-flex.align-items-center
      %a#view-inventory-history.font-size-14{href: "#view-inventory-history-modal", rel: "modal:open"}= 'View inventory history'
.row
  .col-6
    = form.label :available_quantity, 'Available'
    = form.text_field :available_quantity, :class => "available-quantity", :maxlength => "10", :placeholder => "0", :value => (@listing.available_quantity ? @listing.available_quantity.to_s: 0)

  .col-6
    = form.label 'Incomming', 'Incomming'
    = form.label "0"

= render 'listings/form/inventory_history_modal', versions: @listing.versions
