.recommended-accessories-wrap
  = form.hidden_field :recommended_accessory_ids, class: 'listing-accessories-hidden'
  = form.label 'Recommended Accessories', class: 'input'
  %input.listing_accessories{type: 'text'}
  %ul.selectize-recommended-accessories-result
.recommended-accessories-list
  %ul#recommendedAccessoriesSortableList.p-0{ 'data-listing-id' => "#{@listing.id}"}
    - @listing.recommended_accessories.order(position: :asc).each do |recommended_accessory|
      - listing_accessory = recommended_accessory.listing_accessory
      %li.cursor-pointer.background{ 'data-id' => "#{listing_accessory.id}"}
        .recommended-accessory-item.row.m-0.pl-0.pr-0
          .col-1.p-0.m-0
            %span
              %i.fa.fas.fa-ellipsis-v
              %i.fa.fas.fa-ellipsis-v
          .col-9.p-0.m-0
            = listing_accessory.title
          .col-2.p-0.m-0.text-right
            %i.icon-remove{ 'data-id' => "#{listing_accessory.id}" }

- content_for :extra_javascript do
  :javascript
    var sortable = new Sortable( recommendedAccessoriesSortableList,
      {
        animation: 150,
        ghostClass: 'sortable-ghost',
        onEnd: function (evt) {
          var paramsData = {
            listing_accessory_id: evt.item.dataset.id,
            from: evt.oldIndex,
            to: evt.newIndex,
          }
          var listingId = document.getElementById('recommendedAccessoriesSortableList').dataset.listingId
          $.ajax({
            url: `/listings/${listingId}/reorder_accessories`,
            type: "PUT",
            data: paramsData,
            success: function(resp) {
              console.log('success')
            }
          });
        },
        onMove: function (evt, originalEvent) {
        },
      }
    );

