.modal#cancel-booking-modal
  = form_for order, url: {controller: "admin/community_draft_orders", action: :update} do |form|
    .row.title.margin-bt-0
      = "Cancel Booking"
    .row
      .col-12
        %span= "Reason"
        = form.hidden_field :current_state, value: 'canceled'
        = form.text_area :canceled_order_note, {class: "max-width-100", placeholder: "Reason for cancel the order"}
    .row.footer
      .col-12
        = form.submit "Save", class: "button right margin-l-5"
        %a.button.right{rel: "modal:close"}= "Cancel"