.row.customer
  .col-12
    %h5= "Customer"
    %p= order.buyer.full_name.capitalize
    = "1 order"
.row.contact-infomation
  .col-10
    %h5= "CONTACT INFOMATION"
  .col-2
    %a.right#edit-customer-email{href: "#edit-customer-email-modal", rel: "modal:open"}= "Edit"
  .col-12
    %p= order.buyer.get_email.present? ? order.buyer.get_email : "No email address"
.row.shipping-address
  .col-10
    %h5= "SHIPPING ADDRESS"
  .col-2
    %a{href: "#edit-customer-shipping-address-modal", rel: "modal:open"}= "Edit"
  .col-12
    %p= order.shipping_address.present? ? order.shipping_address.full_address : "No shipping address"
.row.billing-address
  .col-10
    %h5= "BILLING ADDRESS"
  .col-2
    %a{href: "#edit-customer-billing-address-modal", rel: "modal:open"}= "Edit"
  .col-12
    %p= order.billing_address.present? ? order.billing_address.full_address : "No billing address"

= render 'admin/shared/edit_customer_email', email: order.buyer.emails.last
= render 'admin/shared/edit_customer_shipping_address', shipping_address: order.shipping_address
= render 'admin/shared/edit_customer_billing_address', billing_address: order.billing_address