.order-items
  %h3= "#{@order.status.capitalize}  (#{@order.transaction_items.size})"
  .order-item
    - @order.transaction_items.each do |transaction_item|
      = render 'order_item', transaction_item: transaction_item
  - unless @order.fulfilled?
    %btn.button.mark-fulfilled-button= "Mark as fulfilled"
