- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".listing_categories")

- content_for :javascript do
  window.ST.initializeCategoriesOrder();

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  .row
    .col-12
      %h2 Manage Category
  .row
    .col-12
      .flex-items
        .common-link-btn.main-categories-label.margin-r-15
          = link_to 'New Category', new_admin_category_path(category_type: 'category')
        .common-link-btn.subcategory-label.margin-r-15
          = link_to 'New Subcategory', new_admin_category_path(category_type: 'subcategory')
        .common-link-btn.children-categories-label
          = link_to 'New Child Category', new_admin_category_path(category_type: 'children_category')

  .row
    .col-12
      #categories-list
        = render :partial => "listed_top_level_category", locals: {categories: @categories, category_count: @categories.size}

  #category-ajax-status
    .ajax-notification.ajax-notice.category-ajax-status-message#category-ajax-saving
      .ajax-icon{:class => icon_class("loading")}
      .ajax-text
        = t(".saving_order")
    .ajax-notification.ajax-success.category-ajax-status-message#category-ajax-success
      .ajax-icon{:class => icon_class("check")}
      .ajax-text
        = t(".save_order_successful")
    .ajax-notification.ajax-error.category-ajax-status-message#category-ajax-error
      = t(".save_order_error")

