.col-12.tab-content#overview_tab
  .overview-title
    = "#{@listing.title} Highlights"
  .overview-highlights
    .col-11.tab-content#overview_tab
      = safe_join([raw(@listing.overview)])

  .col-12.listing-user-manual
    %span.user-manual-file-icon
      = image_tag("mf_icons/icon-movri-pdf.png", class: 'header-menu-icon icon-movri-pdf')

    - if @listing.user_manual.exists?
      = link_to @listing.user_manual.url(:original), {target: "_blank"} do
        %span.user-manual-title
          User Manual
        %i.icon-angle-right{"aria-hidden" => "true"}
    - else
      %span.user-manual-title
        User Manual
      %i.icon-angle-right{"aria-hidden" => "true"}