.col-12.tab-content#overview_tab
  .overview-title
    = "#{@listing.title} Highlights"
  .overview-highlights
    .col-11.tab-content#overview_tab
      = safe_join([raw(@listing.overview)])

  .col-12.listing-user-manual
    %span.user-manual-file-icon
      = image_tag("mf_icons/icon-movri-pdf.png", class: 'header-menu-icon icon-movri-pdf')

    = link_to @listing.user_manual.url(:original), {target: "_blank"} do
      %span.user-manual-title
        User Manual
      %span.user-manual-file-size
        (PDF 15.6 MB)
      %i.icon-angle-right{"aria-hidden" => "true"}

  .col-12.listing-firmware-updates
    %span.firmware-updates-file-icon
      = image_tag("mf_icons/icon-movri-play.svg", class: 'header-menu-icon icon-movri-play')
    %span.firmware-updates-title
      = truncate(@listing.title, {max: 20})
    %i.icon-angle-right{"aria-hidden" => "true"}
