.tab-content.listing-reviews.clearfix#review_tab
  .reviews-content
    %span
      Reviews
  .reviews-wrap
    .review-item
      .row
        .review-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
        .review-date
          = @listing.created_at.strftime('%d/%m/%Y')
      .review-title
        %span
          Easy transition from 80D
      .review-written-for
        %span
          = @listing.title
      .review-chap
        %span
          (Body Only)
      .review-revified
        %span
          Verified Buyer
      .review-reward
        %span
          Community Rewards
      .review-text
        %span
          I finally made the jump from my trusty Canon 80D to this body. I haven't had much opportunity to use it yet, but was out on a cloudy day and got much finer detail on a distant Northern Shrike than I've ever been able to get before at that low light level and distance. A very rare (for northern Minnesota) Barn Owl was in a field and seen only in flight, and although my shots weren't great--the bird was moving, I was shivering, and the 300mm f2.8 lens is heavy--but my photos turned out much better than anything I could have taken with the 80D under those conditions--the camera focused much faster than I'm used to. I'm going to thoroughly enjoy the full frame sensor and the superb light sensitivity for bird photography.
      .review-author
        %span
          Laura
    .review-item
      .row
        .review-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
        .review-date
          = @listing.created_at.strftime('%d/%m/%Y')
      .review-title
        %span
          Easy transition from 80D
      .review-written-for
        %span
          = @listing.title
      .review-chap
        %span
          (Body Only)
      .review-revified
        %span
          Verified Buyer
      .review-reward
        %span
          Community Rewards
      .review-text
        %span
          I finally made the jump from my trusty Canon 80D to this body. I haven't had much opportunity to use it yet, but was out on a cloudy day and got much finer detail on a distant Northern Shrike than I've ever been able to get before at that low light level and distance. A very rare (for northern Minnesota) Barn Owl was in a field and seen only in flight, and although my shots weren't great--the bird was moving, I was shivering, and the 300mm f2.8 lens is heavy--but my photos turned out much better than anything I could have taken with the 80D under those conditions--the camera focused much faster than I'm used to. I'm going to thoroughly enjoy the full frame sensor and the superb light sensitivity for bird photography.
      .review-author
        %span
          Laura
    .review-item
      .row
        .review-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
        .review-date
          = @listing.created_at.strftime('%d/%m/%Y')
      .review-title
        %span
          Easy transition from 80D
      .review-written-for
        %span
          = @listing.title
      .review-chap
        %span
          (Body Only)
      .review-revified
        %span
          Verified Buyer
      .review-reward
        %span
          Community Rewards
      .review-text
        %span
          I finally made the jump from my trusty Canon 80D to this body. I haven't had much opportunity to use it yet, but was out on a cloudy day and got much finer detail on a distant Northern Shrike than I've ever been able to get before at that low light level and distance. A very rare (for northern Minnesota) Barn Owl was in a field and seen only in flight, and although my shots weren't great--the bird was moving, I was shivering, and the 300mm f2.8 lens is heavy--but my photos turned out much better than anything I could have taken with the 80D under those conditions--the camera focused much faster than I'm used to. I'm going to thoroughly enjoy the full frame sensor and the superb light sensitivity for bird photography.
      .review-author
        %span
          Laura
    .review-view-all
      %button
        View All Reviews
