.row
  .col-12
    .listing-header
      = link_to "Home", ""
      %span / Camera
      %p Camera
  .col-12
    .brown-bar
      %span Sort by:
      = select_tag "sort_listing", options_for_select(['Best Sellers', "Best Renters"])

  - listings.each do |listing|
    .col-3
      .listing-box
        .main-image
          - unless listing.main_image.nil?
            = image_tag 'len-10_288x288.jpg', :class => "design-image-too-wide"
        .listing-price
          %span $240
          %span /1 day
        .listing-info
          = listing.title
        = link_to "Rent now", "", class: "rent-now-btn"