.desktop-display
  .wrapper
    .main-content
      .row
        .col-2.filter-bar
          = render :partial => 'filter_bar', locals: {listings: @listings}
        .col-10
          .listtinggrid--item
            = render :partial => 'listings', locals: {listings: @listings}
.mobile-display
  .brown-background
    = render :partial => 'categories/mobile/sort_filter_bar'
    = render :partial => 'categories/mobile/listings', locals: {listings: @listings}
    = render :partial => 'categories/mobile/pagination', locals: {listings: @listings}

-# = render partial: "shares/footer"

- content_for :javascript do
  window.ST.initSortAndFilter();