.brown-background
  .checkout-section
    .wrapper
      .row
        .col-12
          .header-checkout Checkout
      .row.margin-bt-50
        .col-8
          .booking-date-bar
            .order-date.items
              %h3 Order Date
              %span= get_today
            .arrival-date.items
              %h3 Arrival Date
              %span= session[:booking][:start_date]
            .return-date.items
              %h3 Return Date
              %span= session[:booking][:end_date]
            .rental-duration.items
              %h3 Rental Duration
              %span= "#{session[:booking][:total_days]} days"
      .row
        .col-8
          = render partial: "transactions/checkout_process/contact_info"
        .col-4.order-summary-box
          = render partial: "transactions/checkout_process/order_summary", locals: {state: DEFAULT_STATE}
