.brown-background.padding-10
  .account-section
    .wrapper
      .row
        .col-12.flex-items.margin-b-t-10
          %span.fz-22 Order Details
      .desktop-display
        #order-details.margin-bt-20
          .row
            .col-3
              %span.block.fz-22= @transaction.created_at.to_date.to_formatted_s(:long)
              %p= t('transactions.order_details.order_number', number: @transaction.order_number)
              %span.block= t('transactions.order_details.total_quantity', quantity: @transaction.total_quantity).html_safe
              %span.block= t('transactions.order_details.arrival_date', date: @transaction.booking.start_on).html_safe
              %span.block= t('transactions.order_details.return_date', date: @transaction.booking.end_on).html_safe
              %span.block= t('transactions.order_details.rental_duration', number: @transaction.booking.duration).html_safe
            .col-3
              %p.bold Ship to
              %span.block= @transaction.shipping_address.fullname
              %span.block.uppercase= @transaction.shipping_address.apartment
              %span.block.uppercase= @transaction.shipping_address.get_street1
              %span.block.uppercase= "#{@transaction.shipping_address.get_city}, #{CANADA_PROVINCES.key(@transaction.shipping_address.get_state_or_province)} #{@transaction.shipping_address.get_postal_code}"
              %p.uppercase= @transaction.shipping_address.format_phone
              %span.block Payment Information
              %span= money_to_humanized(@transaction.stripe_payments.last.sum_cents)
            .col-3
              %p.bold Order Summary
              .flex-items
                .width-50
                  %span Subtotal:
                .width-50.align-right
                  %span= money_to_humanized(@transaction.payment.subtotal_cents)
              - if @transaction.promo_code
                .flex-items
                  .width-70
                    %span= "Promo Code (#{@transaction.promo_code.code})"
                  .width-30.align-right
                    %span= "- #{money_to_humanized(@calculate_money.get_discount_for_all_products_cart)}"
              .flex-items
                .width-50
                  %span= "Shipping (#{@transaction.shipper.service_delivery.upcase}):"
                .width-50.align-right
                  %span= "$#{@transaction.shipper.amount}"
              .flex-items.br-bottom
                .width-50
                  %span Sales Tax:
                .width-50.align-right
                  %span= money_to_humanized(@transaction.payment.fee_cents)
              / .flex-items.br-bottom
              /   .width-70
              /     %span Movri Coverage:
              /   .width-30.align-right
              /     %span= money_to_humanized(@transaction.coverage_cents)
              .flex-items
                .width-50
                  %span.bold Total
                .width-50.align-right
                  %span.bold= money_to_humanized(@transaction.stripe_payments.last.sum_cents)
            .col-3
              %span= "<strong>#{@transaction.total_quantity} products</strong> in this order".html_safe
              .btn-link
                - if @transaction.shipper.ups?
                  = link_to "Track Package", UPS_TRACKING_PACKAGE_WEB, target: :_blank
                - else
                  = link_to "Track Package", FEDEX_TRACKING_PACKAGE_WEB, target: :_blank
        .account-list-orders
          .white-background
            .row.margin-bt-20
              .col-12.padding-20
                .flex-items.data-header.padding-5.brown-background
                  .width-10
                  .width-40
                  .width-20.center-items
                    %span QTY
                  .width-30.center-items
                    %span Price
                  / .width-20.center-items
                  /   %span MOVRI COVERAGE
                - @transaction.transaction_items.each do |item|
                  - listing = item.listing
                  .account-listing-item.br-bottom
                    .flex-items.padding-5
                      .width-10.center-items
                        = image_tag listing.main_image, class: "width-100", alt: @current_community.image_alt_text
                      .width-40
                        %p.margin-0.title= link_to listing.title, listing_path(listing)
                        %p.margin-0.sku.uppercase= "SKU: #{listing.sku ? listing.sku : 'OLLC62F'}"
                      .width-20.center-items
                        %p= item.quantity
                      .width-30.center-items
                        = money_to_humanized(item.price_cents)
                      / .width-20.center-items
                      /   = money_to_humanized(item.coverage_price_cents)
      .mobile-display.fz-14
        #order-details.margin-bt-20
          .row
            .display-flex
              .width-50.padding-0
                %span.block.fz-22= @transaction.created_at.to_date.to_formatted_s(:long)
                %p= t('transactions.order_details.order_number', number: @transaction.order_number)
                %span= "Total Items: #{@transaction.total_quantity}"
                %span.block= t('transactions.order_details.arrival_date', date: @transaction.booking.start_on).html_safe
                %span.block= t('transactions.order_details.return_date', date: @transaction.booking.end_on).html_safe
                %span.block= t('transactions.order_details.rental_duration', number: @transaction.booking.duration).html_safe
              .width-50
                %p.bold Ship to
                %span.block= @transaction.shipping_address.fullname
                %span.block.uppercase= @transaction.shipping_address.apartment
                %span.block.uppercase= @transaction.shipping_address.get_street1
                %span.block.uppercase= "#{@transaction.shipping_address.get_city}, #{CANADA_PROVINCES.key(@transaction.shipping_address.get_state_or_province)} #{@transaction.shipping_address.get_postal_code}"
                %p.uppercase= @transaction.shipping_address.format_phone
                %span.block Payment Information
                %span= money_to_humanized(@transaction.stripe_payments.last.sum_cents)
          .row
            .width-70.padding-0
              %p.bold Order Summary
              .flex-items
                .width-50
                  %span Subtotal:
                .width-50.align-right
                  %span= money_to_humanized(@transaction.payment.subtotal_cents)
              - if @transaction.promo_code
                .flex-items
                  .width-70
                    %span= "Promo Code (#{@transaction.promo_code.code})"
                  .width-30.align-right
                    %span= "- #{money_to_humanized(@calculate_money.get_discount_for_all_products_cart)}"
              .flex-items
                .width-50
                  %span= "Shipping (#{@transaction.shipper.service_delivery.upcase}):"
                .width-50.align-right
                  %span= "$#{@transaction.shipper.amount}"
              .flex-items.br-bottom
                .width-50
                  %span Sales Tax:
                .width-50.align-right
                  %span= money_to_humanized(@transaction.payment.fee_cents)
              / .flex-items.br-bottom
              /   .width-70
              /     %span Movri Coverage:
              /   .width-30.align-right
              /     %span= money_to_humanized(@transaction.coverage_cents)
              .flex-items
                .width-50
                  %span.bold Total
                .width-50
                  %span.bold= money_to_humanized(@transaction.stripe_payments.last.sum_cents)
          .row
            .col-3
              %span= "<strong>#{@transaction.total_quantity} products</strong> in this order".html_safe
              .btn-link
                - if @transaction.shipper.ups?
                  = link_to "Track Package", UPS_TRACKING_PACKAGE_WEB, target: :_blank
                - else
                  = link_to "Track Package", FEDEX_TRACKING_PACKAGE_WEB, target: :_blank
        .account-list-orders
          .white-background
            .row.margin-bt-20
              .col-12.padding-10
                .flex-items.data-header.padding-5.brown-background
                  .width-15
                  .width-40
                  .width-20.center-items
                    %span QTY
                  .width-25.center-items
                    %span Price
                - @transaction.transaction_items.each do |item|
                  - listing = item.listing
                  .account-listing-item.br-bottom
                    .flex-items.padding-5
                      .width-15.center-items.padding-0
                        = image_tag listing.main_image, class: "width-100", alt: @current_community.image_alt_text
                      .width-40
                        %p.margin-0.title.cut-text= link_to listing.title, listing_path(listing)
                        %p.margin-0.sku.uppercase= "SKU: #{listing.sku ? listing.sku : 'OLLC62F'}"
                      .width-20.center-items
                        %span= item.quantity
                      .width-25.center-items
                        %span= money_to_humanized(item.price_cents)
                    / .align-right
                    /   %span= t('transactions.order_details.coverage', coverage: money_to_humanized(item.coverage_price_cents))