.common-box
  .checkout-box
    .price-list
      %span= t('transactions.label.subtotal')
      %span.price#subtotal-price= MoneyViewUtils.to_humanized(Money.new(subtotal_in_view, 'USD'))
    .price-list
      - if promo_code
        %span= "Promo Code (#{promo_code.code})"
        %span.price= "- #{money_to_humanized(get_discount_value(PriceCalculationService.calculate_total_price(session), promo_code))}"
    .price-list
      %span= t('transactions.label.shipping')
      %span.price#shipping-fee
        - shipping_fee = calculate_shipping_fee(session[:shipping], session[:booking], shipping_type)
        = MoneyViewUtils.to_humanized(Money.new(shipping_fee, 'USD'))
    .total-price
      %span= t('transactions.label.total_without_tax')
      %span.price#total-price= MoneyViewUtils.to_humanized(Money.new(price_with_all_fee(promo_code, shipping_fee), 'USD'))
    = button_tag class: "common-btn btn-checkout" do
      %i.icon-lock.fa-fw
      %span.uppercase= t('transactions.label.checkout')
    .coutinue-shipping
      .center-title
        = link_to t('transactions.btn_label.continue_shopping'), homepage_with_locale_path
      %i.icon-chevron-right

