.rent-date-box
  = render partial: "listings/carts/rent_date_box"
.promo-code-box
  = render partial: "listings/carts/promo_code_box"
.instructions-box
  = render partial: "listings/carts/instructions_box"
.shipping-box
  = render partial: "listings/carts/shipping_box", locals: {zipcode: nil}
.checkout-box
  = render partial: "listings/carts/checkout_box", locals: {promo_code: promo_code, shipping_type: nil}