- if session[:cart].present?
  - session[:cart].each do |key, value|
    - listing = Listing.find_by(id: key)
    .listing-info.unique-listing-sku{id: "listing-info-#{listing.id}", 'data-sku': "#{listing.id}"}
      .content
        .row
          .col-2
            = image_tag listing.main_image, alt: '', height: '100', width: 'auto', class: 'img-responsive-cart'
          .col-4
            .listing-title
              %span= listing.title
            .listing-sku
              %span{style: "font-weight: bold"} SKU:
              %span= listing.sku.present? ? listing.sku.upcase : 'CAE5D3'
            .listing-coverage
              = select_tag :select_coverage, options_for_select(['Movri Coverage']), class: 'custom-select-coverage'
          .col-3
            .quantity-box
              %span Quantity
              %input.cart-detail-item-quantity{id: "cart-detail-item-quantity-#{listing.id}",value: value, :max => 5, :min => "1", :name => "quantity", :type => "number", :maxlength => 4}
          .col-3
            - price_cents = calculate_price_cents(listing, session[:cart][listing.id.to_s], promo_code)
            - readable_price = MoneyViewUtils.to_humanized(Money.new(price_cents, 'USD'))
            .cart-item
              %span Price:
              %span#price-item= readable_price
            .cart-item#coverage
              %span Coverage:
              %span= MoneyViewUtils.to_humanized(Money.new(total_coverage(listing, value), 'USD'))
      .listing-action
        .row
          .col-8
          .col-4
            .action-item
              %i.icon-shopping-cart
              %span Move to wish list
            .action-item.remove-item-in-cart-detail{id: "remove-item-in-cart-#{listing.id}"}
              %i.icon-remove-sign
              %span Remove