.common-box.desktop-shipping
  %p.center-title SHIPPING
  .shipping-box
    .options
      = radio_button_tag :shipping_type, 'delivery'
      %span Delivery
    .options
      = radio_button_tag :shipping_type, 'fedex'
      %span Fedex Office
    .options
      = radio_button_tag :shipping_type, 'pickup'
      %span Pickup
    = text_field_tag :zip_code, zipcode, placeholder: "Zip code", class: "zip-code-input"
    %span.zipcode-error.alert-error.d-none
    = select_tag :select_shipping, options_for_select(shipping_selection), class: "desktop-custom-select-shipping"