.modal#edit-customer-email-modal
  = form_for email, url: admin_community_email_path(email.community_id, email), method: :put do |form|
    .row.title
      = "Edit email"
    .row
      %p.margin-bt-15= "Notification emails will be send to this address"
      %span= "Email"
      = hidden_field_tag 'transaction_id', @order.id
      = form.text_field :address, placeholder: 'Update customer email'
    .row.footer
      = form.submit "Save", class: "button right margin-l-5"
      %a.button.right{rel: "modal:close"}= "Cancel"