:css
  .number-on-cart-style-desktop {
    font-size: 13px;
    background: #e8e9ea;;
    border: solid 2px #13588d;
    color: #13588d;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -9px;
    border-radius: 50%;
  }

  .custom-cart-icon {
    margin-bottom: -5px;
  }

  .my-cart-text {
    margin-bottom: -5px;
  }
-# Hide header in map view if mobile
%header.header.sticky-heade
  - if store_header.sticky_enabled
    - style = "color:  #{store_header.text_color};"
    - style += "background: #{store_header.background_color};"
    - style += "text-align: center;"
    - style += "height: 50px;"
    .header-wrapper.clearfix{style: style}
      %h2{style: "color: #{store_header.text_color};line-height: 50px;"}= store_header.title.html_safe

%header.header.info-header
  .header-wrapper.clearfix
    .header-left
      %select.select
        %option= "B&H for B2B, Gov, Students & More"
    .header-left
      =image_tag('homepage_icons/explora.jpeg', class: "explora-icon")
    .header-right
      = link_to about_infos_path, class: 'de-a' do
        .info-header-text.header-about-us
          = t('header.about_us')
    .header-right
      .info-header-text.display-inline-flex
        = image_tag("mf_icons/icon-movri-info.svg", class: 'header-menu-icon icon-movri-info')
        .smbold
          = t('header.help')
    .header-right
      .info-header-text
        .smbold
          = t('header.phone_number')
    .header-left.header-info
      .info-header-text.history-since-text
        = raw t('header.history_since')
%header.header.main-header
  .header-wrapper.header-nav.clearfix
    - if logged_in
      .header-right.visible-tablet
        #header-menu-desktop-anchor.header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute', 'toggle-anchor-position' => 'right'}}
    .header-right.visible-tablet
      #header-menu-desktop-cart.header-menu-container.toggle{data: {toggle: '#header-menu-toggle-cart', 'toggle-position' => 'absolute', 'toggle-anchor-position' => 'right'}}

    .header-right.controls
      = render :partial => "layouts/header_anchors"
      = render :partial => "layouts/header_user_menu"
      = render :partial => "layouts/header_contact"


    - if logged_in
      = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons}

    - if available_locales.size > 1
      .header-right.visible-desktop
        #header-locales-menu.toggle.header-hover{data: {toggle: '#header-locales-toggle-menu', 'toggle-position' => 'absolute'}}
          %span.header-text-link
            = current_locale_name
            = icon_map_tag(icons, "dropdown", ["icon-dropdown"])
        #header-locales-toggle-menu.toggle-menu.header-toggle-menu-language.hidden
          - locale_change_links.each do |locale_change_link|
            %a{href: locale_change_link[:url]}
              = locale_change_link[:title]

    .header-left.hidden-tablet
      .header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
        #header-menu-mobile-anchor.header-menu-toggle-container.toggle-header-container
          = icon_map_tag(icons, "rows", ["header-menu-icon"])
        #header-menu-mobile-cart.header-menu-toggle-container.toggle-header-container
          .cart-icon-header
            = image_tag("mf_icons/icon-movri-cart.svg", class: 'header-menu-icon icon-movri-chat custom-cart-icon')
            %span.number-on-cart.number-on-cart-style-desktop
              - session[:cart] ||= {}
              = session[:cart].values.sum

    = render :partial => "layouts/header_menu", locals: { locale_change_links: locale_change_links, icons: icons}
    = render :partial => "layouts/header_cart", locals: { locale_change_links: locale_change_links, icons: icons}

    -#
      If necessary, the buttons will overlap with the logo. Buttons should be on top, that's
      keep the logo here after buttons
    .header-left.header-logo-container
      = link_to landing_page_path, :class => "header-logo", :id => "header-logo" do
        - if @current_community.logo.present?
          %i.header-square-logo.hidden-tablet
            -# Logo is here, it's a CSS background
        - if @current_community.wide_logo.present?
          .header-wide-logo
            = image_tag(store_header.logo.url)
        - else
          %span.header-wide-logo-text.visible-tablet
            = @current_community.name(I18n.locale)
    .header-left.header-search-contain{class: "#{logged_in? ? 'header-search-logged-in' : ''}"}
      = render partial: 'layouts/searchs/search_box'
    .bh-gift-card.float-left
      = image_tag("homepage_icons/b_h_gift_cards.jpeg")
    .mega-dealzone.float-left
      = image_tag("homepage_icons/mega_dealzone.jpeg")
    = render partial: 'layouts/searchs/history'
    = render partial: 'layouts/searchs/results'
.header.category-nav.hidden-mobile
  .header-wrapper
    = render :partial => 'layouts/category_bar'
