#header-user-toggle-menu.toggle-menu.header-toggle-menu-user.hidden
  .my-account-contain.header-login-logged-in
    .header-login{class: "#{logged_in? ? 'header-login-logged-in' : ''}"}
      - unless logged_in?
        .login-contain
          .login-title
            %p
              = t('login.title')
          .sign-in-btn
            = link_to login_path, class: 'sign-in-button' do
              %b
                = t("header.login")
          .sign-up-btn
            = link_to sign_up_path, class: 'sign-up-button' do
              %b
                = t("header.signup")
      - else
        .login-contain
          .section.profile-pic{"data-selenium" => "profilePic"}
            = image_tag PersonViewUtils.person_avatar(@current_user), height: 62, width: 62, class: 'header-menu-icon icon-movri-user icon-movri-user-popup'
          #js-username.section.profile-name{"data-pi" => "fullName"}
            = @current_user.username.upcase
          .sign-out-btn
            .logout-contain
              = image_tag("mf_icons/icon-movri-signout.png", class: 'header-menu-icon icon-movri-signout')
              = link_to logout_path, class: 'sign-out-button' do
                = t("layouts.logged_in.logout")

    .account-actions.display-flex{class: "#{logged_in? ? 'account-actions-logged-in' : ''}"}
      .display-flex.account-wrap
        = link_to (logged_in? ? person_path(@current_user, view: "info") : '#'), class: "col-4 action-item display-flex" do
          = image_tag("mf_icons/icon-movri-account.svg", class: 'header-menu-icon icon-movri-account')
          %p
            = t('account_action.my_account')
        .col-4.action-item.display-flex
          = link_to (logged_in? ? person_path(@current_user) : '#'), class: "col-4 action-item display-flex" do
            = image_tag("mf_icons/icon-movri-order.svg", class: 'header-menu-icon icon-movri-order')
            %p
              = t('account_action.my_order')
        = link_to (logged_in? ? wish_lists_path : '#'), class: "col-4 action-item display-flex" do
          = image_tag("mf_icons/icon-movri-wish-list.svg", class: 'header-menu-icon icon-movri-wish-list')
          %p
            = t('account_action.wish_list')