.menu-categories
  .main-category.flex-items
    .width-70.padding-0
      %span.block.toggle-cat.capitalize= main_category.url_name
    .width-30.align-right.padding-0
      %i.icon-chevron-down.toggle-cat
  - if main_category.all_subcategories.any?
    .subcategories.hidden
      - main_category.all_subcategories.each do |subcategory|
        .sub-cat
          .subcategory
            .flex-items
              .width-70.padding-0.toggle-subcategory
                - if subcategory.all_children_categories.any?
                  %span.block.capitalize= subcategory.display_title
                - else
                  = link_to categories_path(category: main_category, subcategories: subcategory) do
                    %span.block.capitalize= subcategory.display_title
              .width-30.align-right.padding-0
                - if subcategory.all_children_categories.any?
                  %i.icon-chevron-down.toggle-subcategory
            .child-categories.hidden
              - subcategory.all_children_categories.each do |child|
                .sub-cat.capitalize
                  = link_to categories_path(category: main_category, subcategories: subcategory, children_categories: child), class: 'sub-cat' do
                    = child.display_title