= link_to @category_display_names[main_category.id], categories_path(categories: main_category)
- if main_category.all_subcategories.any?
  - main_category.all_subcategories.each do |subcategory|
    = link_to categories_path(subcategories: subcategory), class: 'sub-cat' do
      = @category_display_names[subcategory.id]
      - subcategory.all_children_categories.each do |child|
        .sub-cat
          = link_to categories_path(children_categories: child), class: 'sub-cat' do
            = @category_display_names[child.id]