- general_colors = preferences&.general_colors
- button_colors = preferences&.button_colors
- header_colors = preferences&.header_colors
- footer_colors = preferences&.footer_colors
- heading_font_settings = preferences&.heading_font_settings
- button_font_settings = preferences&.button_font_settings
- main_menu_font_settings = preferences&.main_menu_font_settings
- section_heading_font_settings = preferences&.section_heading_font_settings
- body_text_font_settings = preferences&.body_text_font_settings

:css
  @import url("//fonts.googleapis.com/css?family=#{heading_font_settings['font_family']&.split(' ')&.join('+')}:400,600,700&subset=latin-ext");
  @import url("//fonts.googleapis.com/css?family=#{button_font_settings['font_family']&.split(' ')&.join('+')}:400,600,700&subset=latin-ext");
  @import url("//fonts.googleapis.com/css?family=#{main_menu_font_settings['font_family']&.split(' ')&.join('+')}:400,600,700&subset=latin-ext");
  @import url("//fonts.googleapis.com/css?family=#{section_heading_font_settings['font_family']&.split(' ')&.join('+')}:400,600,700&subset=latin-ext");
  @import url("//fonts.googleapis.com/css?family=#{body_text_font_settings['font_family']&.split(' ')&.join('+')}:400,600,700&subset=latin-ext");

  header {
    background-color: #{ header_colors["background"] } !important;
    color: #{ header_colors["text"] } !important;
  }

  header .header-wrapper, .header-nav {
    color: #{ header_colors["text"] } !important;
    background-color: #{ header_colors["background"] } !important;
  }

  header .header-menu-toggle-container {
    color: #{ header_colors["text"] };
    background-color: #{ header_colors["background"] } !important;
  }

  header .header-hover:hover {
    background-color: #{ header_colors["background"] } !important;
  }

  .header.category-nav {
    font-family: #{ main_menu_font_settings["font_family"] } !important;
    text-transform: #{ main_menu_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }


  .page-content {
    color: #{ general_colors["text"] } !important;
    font-family: #{ body_text_font_settings["font_family"] };
  }

  .page-content .filter-bar {
    font-family: #{ main_menu_font_settings["font_family"] } !important;
    text-transform: #{ main_menu_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }

  .page-content h1, h2, h3, h4, h5 {
    color: #{ general_colors["headings"] } !important;
    font-family: #{ heading_font_settings["font_family"] } !important;
    text-transform: #{ heading_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
    font-size: #{ heading_font_settings['font_weight'] == 'small' ? 16 : heading_font_settings['font_weight'] == 'large' ? 32 : 22 }px !important;
  }

  .page-content .heading {
    color: #{ general_colors["headings"] } !important;
    font-family: #{ heading_font_settings["font_family"] } !important;
    text-transform: #{ heading_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }

  .page-content .section-heading {
    color: #{ general_colors["headings"] } !important;
    font-family: #{ section_heading_font_settings["font_family"] } !important;
    text-transform: #{ section_heading_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }

  .page-content a {
    color: #{ general_colors["links"] };
  }

  .page-content button, .btn {
    color: #{ button_colors["text"] };
    background-color: #{ button_colors["background"] };
    font-family: #{ button_font_settings["font_family"] };
    text-transform: #{ button_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }

  .page-content .btn-link a {
    color: #{ button_colors["text"] };
    background-color: #{ button_colors["background"] };
    font-family: #{ button_font_settings["font_family"] };
    text-transform: #{ button_font_settings["uppercase"].to_s == 'true' ? "uppercase" : "capitalize" } !important;
  }



  .desktop-display .other-information {
    color: #{ footer_colors["text"] } !important;
    background-color: #{ to_rgb(hex: footer_colors["background"], avg: 0.1) };
  }

  .desktop-display .other-information .row {
    color: #{ footer_colors["text"] } !important;
    background-color: #{ to_rgb(hex: footer_colors["background"], avg: 0) };
  }

  .desktop-display .security-social-media {
    color: #{ footer_colors["text"] } !important;
    background-color: #{ to_rgb(hex: footer_colors["background"], avg: 0.525) };
  }
  .desktop-display .security-social-media .row {
    color: #{ footer_colors["text"] } !important;
    background-color: #{ to_rgb(hex: footer_colors["background"], avg: 0) };
  }

  .desktop-display .copyright {
    background-color: #{ to_rgb(hex: footer_colors["background"], avg: 1) } !important;
    color: #{ footer_colors["text"] } !important;
  }

  body {
    font-size: #{ preferences.base_font_size }px !important;
  }
